{% extends "base.html" %}
{% block content %}

<style>
    body, html {
        height: 100%;
        margin: 0;
        background-color: #f8f9fc;
    }
    .custom-rounded {
        border-radius: 25px;
    }
    .form-control-user {
        font-size: 1.2rem; /* 텍스트 크기 조정 */
    }
    .btn-user {
        font-size: 1.2rem; /* 버튼 텍스트 크기 조정 */
    }
    .text-center img {
        max-width: 100%;
        height: auto;
    }
    .card-body {
        text-align: center; /* 모든 내용 가운데 정렬 */
    }
    .btn-block {
        display: block;
        width: 100%;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card o-hidden border-0 shadow-lg my-5 custom-rounded">
                <div class="card-body p-5 d-flex justify-content-center">
                    <div class="text-center w-100">
                        <img src="{{ url_for('static', filename='img/logo_login.png') }}" class="img-fluid mb-1" alt="Logo">
                        <form class="User" method="post" style="width: 22rem; margin: 0 auto;">
                            {{ form.csrf_token }}
                            {% include "form_errors.html" %}
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user mb-1" id="USR_ID" name="USR_ID" placeholder="아이디" value="{{ form.USR_ID.data or '' }}">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user mb-3" id="USR_PW" name="USR_PW" placeholder="비밀번호" value="{{ form.USR_PW.data or '' }}">
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                로그인
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
