{% extends "base.html" %}
{% block content %}
<style>
    body, html {
    height: 100%;
    margin: 0;
    background-color: #f8f9fc;
}
    .custom-rounded {
        border-radius: 25px;
    }


</style>
<div class="container">
    <h5 class="my-3 border-bottom pb-2">비밀번호 변경</h5>
    <form method="post">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}

        <div class="mb-3">
            <label for="old_USR_PW">현재 비밀번호</label>
            <input type="password" class="form-control" name="old_USR_PW" id="old_USR_PW"
                   value="{{ form.old_USR_PW.data or '' }}">
        </div>

        <div class="mb-3">
            <label for="new_USR_PW1">새 비밀번호</label>
            <input type="password" class="form-control" name="new_USR_PW1" id="new_USR_PW1"
                   value="{{ form.new_USR_PW1.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="new_USR_PW2">새 비밀번호 확인</label>
            <input type="password" class="form-control" name="new_USR_PW2" id="new_USR_PW2"
                   value="{{ form.new_USR_PW2.data or '' }}">
        </div>

        <button type="submit" class="btn btn-primary" onclick="showAlertAndRedirect()">비밀번호 변경</button>

    </form>
</div>
<script>
function showAlertAndRedirect() {
    alert('비밀번호 변경 처리 중입니다. 정상 변경 완료 시 기존 페이지로 이동합니다.');

}
</script>
{% endblock %}
