{% extends "base.html" %}
{% block content %}

<style>
    .form-control-user {
        font-size: 1.25rem; /* 글자 크기 키우기 */
        padding: 0.75rem; /* 입력 필드 크기 키우기 */
    }
    .btn-user {
        font-size: 1.25rem; /* 버튼 글자 크기 키우기 */
        padding: 0.75rem 1.5rem; /* 버튼 크기 키우기 */
    }
    .h4 {
        font-size: 2rem; /* 제목 글자 크기 키우기 */
    }

    .custom-rounded {
        border-radius: 25px;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-8">
            <div class="card o-hidden border-0 shadow-lg my-5 custom-rounded">
                <div class="card-body p-5 d-flex justify-content-center">
                    <div class="text-center w-100">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">사용자 계정 생성</h1>
                        </div>
                        <form class="User" method="post">
                            {{ form.csrf_token }}
                            {% include "form_errors.html" %}
                            <div class="form-group row mb-2">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" name="USR_NM"
                                           id="USR_NM"
                                           placeholder="성명" value="{{ form.USR_NM.data or '' }}">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" name="USR_ID"
                                           id="USR_ID"
                                           placeholder="아이디" value="{{ form.USR_ID.data or '' }}">
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <input type="email" class="form-control form-control-user" name="USR_EMAIL"
                                       id="USR_EMAIL"
                                       placeholder="이메일" value="{{ form.USR_EMAIL.data or '' }}">
                            </div>
                            <div class="form-group row mb-4">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                           name="USR_PW1" id="USR_PW1"
                                           placeholder="비밀번호" value="{{ form.USR_PW1.data or '' }}">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                           name="USR_PW2" id="USR_PW2"
                                           placeholder="비밀번호 확인" value="{{ form.USR_PW2.data or '' }}">
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" name="USR_DEPT"
                                           id="USR_DEPT"
                                           placeholder="부서" value="{{ form.USR_DEPT.data or '' }}">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" name="USR_JOB"
                                           id="USR_JOB"
                                           placeholder="직책/직위" value="{{ form.USR_JOB.data or '' }}">
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <input type="text" class="form-control form-control-user" name="USR_PHONE"
                                       id="USR_PHONE"
                                       placeholder="전화번호" value="{{ form.USR_PHONE.data or '' }}">
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                계정 등록
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
