{% extends "base.html" %}
{% block content %}


<div class="row">
<!--    <div class="col-md-2">-->
<!--        &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--        <div class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">-->
<!--            <li class="nav-item active">-->
<!--                <div class="list-group-item list-group-item-action bg-light" style="font-weight: bold;">사용자관리</div>-->
<!--                <a href="{{ url_for('auth.user_manage') }}" class="list-group-item list-group-item-action bg-light">사용자-->
<!--                    계정 관리</a>-->
<!--                <a href="{{ url_for('auth.signup') }}" class="list-group-item list-group-item-action bg-light">사용자 계정-->
<!--                    생성</a>-->
<!--                <a href="{{ url_for('auth.user_role') }}" class="list-group-item list-group-item-action bg-light">사용자 권한 관리</a>-->
<!--                <a href="{{ url_for('auth.role_permission') }}" class="list-group-item list-group-item-action bg-light">메뉴 접근 권한</a>-->

<!--            </li>-->
<!--        </div>-->
<!--    </div>-->
    <div class="col-md-12">
        <div class="container">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-3">
                    <!-- Nested Row within Card Body -->
                    <div class="row">

                        <div class="col-lg">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">사용자 계정 생성</h1>
                                </div>
                                <form class="user" method="post">
                                    {{ form.csrf_token }}
                                    {% include "form_errors.html" %}
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="text" class="form-control form-control-user" name="name"
                                                   id="name"
                                                   placeholder="성명" value="{{ form.name.data or '' }}">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-user" name="username"
                                                   id="username"
                                                   placeholder="아이디" value="{{ form.username.data or '' }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" name="email"
                                               id="email"
                                               placeholder="이메일" value="{{ form.email.data or '' }}">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="password" class="form-control form-control-user"
                                                   name="password1" id="password1"
                                                   placeholder="비밀번호" value="{{ form.password1.data or '' }}">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control form-control-user"
                                                   name="password2" id="password2"
                                                   placeholder="비밀번호 확인" value="{{ form.password2.data or '' }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="text" class="form-control form-control-user" name="department"
                                                   id="department"
                                                   placeholder="부서" value="{{ form.department.data or '' }}">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-user" name="jobtitle"
                                                   id="jobtitle"
                                                   placeholder="직책/직위" value="{{ form.jobtitle.data or '' }}">
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <input type="text" class="form-control form-control-user" name="phonenumber"
                                               id="phonenumber"
                                               placeholder="전화번호" value="{{ form.phonenumber.data or '' }}">

                                    </div>
                                    <div class="form-group">
                                        <select class="form-select form-control-user" name="role_name" id="role_name">
                                            <option value="1">기본권한</option>
                                            <option value="2">중간관리자</option>
                                            <option value="3">최고관리자</option>
                                        </select>
                                    </div>


                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        계정 등록
                                    </button>

                                </form>
                                <hr>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
