{% extends "base.html" %}
{% block content %}

<style>
    .form-control-user {
        font-size: 1.25rem; /* 글자 크기 키우기 */
        padding: 0.75rem; /* 입력 필드 크기 키우기 */
    }
    .btn-user {
        font-size: 1.25rem; /* 버튼 글자 크기 키우기 */
        padding: 0.75rem 1.5rem; /* 버튼 크기 키우기 */
    }
    .h4 {
        font-size: 2rem; /* 제목 글자 크기 키우기 */
    }

    .custom-rounded {
        border-radius: 25px;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-8">
            <div class="card o-hidden border-0 shadow-lg my-5 custom-rounded">
                <div class="card-body p-5 d-flex justify-content-center">
                    <div class="text-center w-100">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">사용자 계정 수정</h1>
                        </div>
                        <form class="User" method="post">
                            {{ form.csrf_token }}
                            {% include "form_errors.html" %}
                            <div class="form-group row mb-2">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ form.USR_ID(class="form-control form-control-user", placeholder="아이디") }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.USR_NM(class="form-control form-control-user", placeholder="성명") }}
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                {{ form.USR_EMAIL(class="form-control form-control-user", placeholder="이메일") }}
                            </div>
                            <div class="form-group row mb-4">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ form.USR_PW1(class="form-control form-control-user", placeholder="비밀번호") }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.USR_PW2(class="form-control form-control-user", placeholder="비밀번호 확인") }}
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ form.USR_DEPT(class="form-control form-control-user", placeholder="부서") }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.USR_JOB(class="form-control form-control-user", placeholder="직책/직위") }}
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                {{ form.USR_PHONE(class="form-control form-control-user", placeholder="전화번호") }}
                            </div>
                            <button type="button" class="btn btn-secondary btn-user btn-block"
                                    onclick="window.location.href='/auth/user_manage';">
                                취소하기
                            </button>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                수정하기
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
