{% extends "base.html" %}
{% block content %}
<style>
    th, td {
        padding: 8px;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    th {
        background-color: #f8f9fa;
        box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.4);
        position: sticky;
        top: 0;
        z-index: 20;
    }

    th:first-child, td:first-child {
        min-width: 50px;
    }

    .table-wrapper {
        overflow: auto;
        height: calc(100vh - 260px); /* 초기 높이 설정 */
        width: 100%;
        margin-bottom: 20px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        min-width: 120px;
    }

    .form-check-label {
        line-height: 1.5; /* 라벨의 라인 높이를 조정하여 수평 정렬 */
    }

    .form-check-input {
        margin-top: 2; /* 라디오 버튼의 마진을 조정 */
    }

    .selected-row {
        background-color: #D6EAF8 !important; /* 선택된 행의 스타일 */
    }
</style>

<div>
    <div style="display: flex; justify-content: space-between; align-items: center; padding: 0 15px;">
        <h7 class="m-0 font-weight-bold text-primary mb-3">생산관리 > 멸균입반출조회</h7>

        <div style="display: flex; gap: 10px; align-items: center;">
            <div style="display: flex; gap: 10px; align-items: center;">
                <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" id="openModalButton" disabled>
                    <i class="bi bi-boxes"></i> 외주반출 등록
                </button>
            </div>
            <button type="submit" form="searchForm" class="btn btn-light btn-sm shadow-sm ms-3">
                <i class="bi bi-search"></i> 조회
            </button>
        </div>
    </div>
    <div class="pd-3">
        <form method="POST" action="{{ url_for('product.product_register_sterilizating') }}" class="px-4 pd-6"
              id="searchForm">
            <div class="row">
                <div class="col-md-3">
                    <div class="mb-1 col-8 d-flex align-items-center">
                        <label for="plant_code" class="form-label me-3" style="min-width: 110px;">&emsp;&emsp;&emsp;공장</label>
                        <select class="form-select form-select-sm" id="plant_code" name="plant_code">
                            <option value="">-</option>
                            {% for plant in plants %}
                            <option value="{{ plant.PLANT_CD }}" {% if plant.PLANT_CD== PLANT_CD %}selected{% endif %}>
                                {{ plant.PLANT_CD }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-1 col-8 d-flex align-items-center">
                        <label for="item_cd" class="form-label me-3" style="min-width: 110px;">&emsp;&emsp;&emsp;품목</label>
                        <select class="form-select form-select-sm" id="item_cd" name="item_cd">
                            <option value="">-</option>
                            {% for item in items %}
                            <option value="{{ item.ITEM_CD }}" {% if item.ITEM_CD== ITEM_CD %}selected{% endif %}>
                                {{ item.ITEM_NM }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
<!--                    <div class="mb-1 col-8 d-flex align-items-center">-->
<!--                        <label for="start_date" class="form-label me-3" style="min-width: 110px;">납기일자</label>-->
<!--                        <div class="d-flex">-->
<!--                            <input type="date" class="form-control form-control-sm me-2" id="start_date"-->
<!--                                   name="start_date"-->
<!--                                   value="{{ INSRT_DT_START.strftime('%Y-%m-%d') if INSRT_DT_START else '' }}">-->
<!--                            <span class="mx-2">~</span>-->
<!--                            <input type="date" class="form-control form-control-sm ms-2" id="end_date" name="end_date"-->
<!--                                   value="{{ INSRT_DT_END.strftime('%Y-%m-%d') if INSRT_DT_END else '' }}">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="mb-1 col-8 d-flex align-items-center">
                        <label for="barcode_no_start" class="form-label me-3" style="min-width: 110px;">발주번호</label>
                        <input type="text" class="form-control form-control-sm me-2" id="barcode_no_start"
                               name="barcode_no_start" value="{{ BARCODE_NO_START }}">
                    </div>
                    <div class="mb-1 col-6 d-flex align-items-center">
                        <label for="bp_cd" class="form-label me-3" style="min-width: 110px;">외주업체</label>
                        <select class="form-select form-select-sm" id="bp_cd" name="bp_cd">
                            <option value="">-</option>
                            {% for vendor in vendors %}
                            <option value="{{ vendor.bp_cd }}" {% if vendor.bp_cd== BP_CD %}selected{% endif %}>
                                {{ vendor.bp_nm }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
<!--                    <div class="mb-1 col-8 d-flex align-items-center">-->
<!--                        <label for="po_type" class="form-label me-3" style="min-width: 110px;">발주형태</label>-->
<!--                        <div class="d-flex">-->
<!--                            위탁가공(SC)-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <div class="col-md-4">
<!--                    <div class="mb-1 col-8 d-flex align-items-center" style="visibility: hidden;">-->
<!--                        <label for="start_date" class="form-label me-3" style="min-width: 110px;">EMPTYLABEL</label>-->
<!--                        <div class="d-flex">-->

<!--                        </div>-->
<!--                    </div>-->
                    <div class="mb-1 col-8 d-flex align-items-center">
                        <label for="start_date" class="form-label me-3" style="min-width: 110px;">납기일자</label>
                        <div class="d-flex">
                            <input type="date" class="form-control form-control-sm me-2" id="start_date"
                                   name="start_date"
                                   value="{{ INSRT_DT_START.strftime('%Y-%m-%d') if INSRT_DT_START else '' }}">
                            <span class="mx-2">~</span>
                            <input type="date" class="form-control form-control-sm ms-2" id="end_date" name="end_date"
                                   value="{{ INSRT_DT_END.strftime('%Y-%m-%d') if INSRT_DT_END else '' }}">
                        </div>
                    </div>
                    <div class="mb-1 col-12 d-flex align-items-center">
                        <label for="po_status" class="form-label me-3" style="min-width: 80px;">PO상태</label>
                        <div class="d-flex">
                            <!-- 미등록: PO_STATUS가 None 또는 빈 문자열일 때 선택 -->
                            <div class="form-check me-3">
                                <input class="form-check-input" type="radio" id="status1" name="po_status"
                                       value="none" {% if PO_STATUS== 'none' %}checked{% endif %}>
                                <label class="form-check-label" for="status1">미등록</label>
                            </div>

                            <!-- 반출 -->
                            <div class="form-check me-3">
                                <input class="form-check-input" type="radio" id="status2" name="po_status"
                                       value="D" {% if PO_STATUS== 'D' %}checked{% endif %}>
                                <label class="form-check-label" for="status2">반출</label>
                            </div>

                            <!-- 입고완료 -->
                            <div class="form-check me-3">
                                <input class="form-check-input" type="radio" id="status3" name="po_status"
                                       value="R" {% if PO_STATUS== 'R' %}checked{% endif %}>
                                <label class="form-check-label" for="status3">입고완료</label>
                            </div>

                            <!-- 전체: 모든 상태를 포함 -->
                            <div class="form-check me-3">
                                <input class="form-check-input" type="radio" id="status4" name="po_status"
                                       value="all" {% if PO_STATUS== 'all' or PO_STATUS is none %}checked{% endif %}>
                                <label class="form-check-label" for="status4">전체</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="gap" style="margin-top: 20px;"></div> <!-- 간격 추가 -->

    <div class="table-wrapper ps-3 pe-3" id="tableWrapper">
        <table class="table table-sm table-hover" style="table-layout:fixed;" id="dataTable">
            <thead class="table-light">
            <tr>
                <th class="sticky" style="width: 50px;">No</th>
                <th class="sticky" style="width: 100px;">발주번호</th>
                <th class="sticky" style="width: 100px;">SEQ</th>
                <th class="sticky" style="width: 70px;">외주업체</th>
                <th class="sticky" style="width: 125px;">업체명</th>
                <th class="sticky" style="width: 125px;">품목</th>
                <th class="sticky" style="width: 110px;">품목명</th>
                <th class="sticky" style="width: 100px;">품목규격</th>
                <th class="sticky" style="width: 50px;">단위</th>
                <th class="sticky" style="width: 82px;">발주수량</th>
                <th class="sticky" style="width: 82px;">반출수량</th>
                <th class="sticky" style="width: 82px;">입고수량</th>
                <th class="sticky" style="width: 65px;">납기일자</th>
                <th class="sticky" style="width: 82px;">단가</th>
                <th class="sticky" style="width: 50px;">화폐</th>
                <th class="sticky" style="width: 50px;">창고</th>
                <th class="sticky" style="width: 100px;">창고명</th>
                <th class="sticky" style="width: 80px;">상태</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders_with_hdr %}
            <tr data-order-no="{{ order.PO_NO }}" data-item="{{ order.ITEM_NM }}" data-vendor="{{ order.bp_nm }}" data-POQty="{{ order.PO_QTY | int }}">
                <td>{{ loop.index }}</td>
                <td>{{ order.PO_NO }}</td>
                <td>{{ order.PO_SEQ_NO }}</td>
                <td>{{ order.bp_cd }}</td>
                <td>{{ order.bp_nm }}</td>
                <td>{{ order.ITEM_CD }}</td>
                <td>{{ order.ITEM_NM }}</td>
                <td>{{ order.SPEC }}</td>
                <td>{{ order.BASIC_UNIT }}</td>
                <td>{{ order.PO_QTY | int}}</td>
                <td>{{ order.OUT_QTY or ''}}</td>
                <td>{{ order.IN_QTY or ''}}</td>
                <td>{{ order.DLVY_DT.strftime('%Y-%m-%d') if order.DLVY_DT else '' }}</td>
                <td>{{ order.PO_PRC | int }}</td>
                <td>{{ order.PO_CUR }}</td>
                <td>{{ order.SL_CD }}</td>
                <td>{{ order.SL_NM }}</td>
                <td>{{ order.STATUS or ''}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- 멸균 외주 등록 modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">외주반출 등록</h5>
            </div>
            <div class="modal-body">
                <form id="packingForm" method="POST" >
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3 col-10">
                                <label for="plant_code">공장</label>
                                <input type="text" class="form-control" id="plant" disabled>
                            </div>
                            <div class="mb-3 col-10">
                                <label for="modalOrderNo">발주번호</label>
                                <input type="text" class="form-control" id="modalOrderNo" disabled>
                            </div>
                            <div class="mb-3 col-10">
                                <label for="modalItem">품목</label>
                                <input type="text" class="form-control" id="modalItem" disabled>
                            </div>
                            <div class="mb-3 col-10">
                                <label for="modalVendor">외주업체</label>
                                <input type="text" class="form-control" id="modalVendor" disabled>
                            </div>
                            <div class="mb-3 col-10">
                                <label for="modalQty">발주수량</label>
                                <input type="text" class="form-control" id="modalQty" disabled>
                            </div>
                            <div class="mb-3 col-10">
                                <label for="barcode_scan7">반출수량</label>
                                <input type="text" class="form-control" id="barcode_scan7" disabled>
                            </div>
							<div class="mb-3 col-10">
                                <label for="barcode_scan7">누적반출수량</label>
                                <input type="text" class="form-control" id="barcode_scan7123" disabled>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <table class="table table-sm table-borderless ms-auto" style="text-align: center;" id="dataTable_modal">
                                <thead class="table-sm">
                                <tr>
                                    <th>박스번호</th>
                                    <th>Box내 수량</th>
                                    <th>포장일자</th>
                                </tr>
                                </thead>
                                <tbody id="modalTableBody"></tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="d-flex">
                    <input type="text" id="udiInputFooter" class="form-control" placeholder="바코드 스캔" style="width: 370px; margin-right: 10px; border: none;">
                </div>
                <div>
                    <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" id="saveChangesButton">
                         등록
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var selectedOrderNo = '';

    // 행 클릭 시 선택
    document.querySelectorAll('#dataTable tbody tr').forEach(function (row) {
        row.addEventListener('click', function () {

            // 기존 선택된 행 스타일 제거
            document.querySelectorAll('#dataTable tbody tr').forEach(function (row) {
                row.classList.remove('selected-row');
            });

            // 선택된 행 스타일 적용
            this.classList.add('selected-row');

            // 선택한 데이터 저장
            selectedOrderNo = this.getAttribute('data-order-no');
            var selectedItem = this.getAttribute('data-item');
            var selectedVendor = this.getAttribute('data-vendor');
            var selectedPOQty = this.getAttribute('data-POQty')

            // 모달에 데이터 반영
            document.getElementById('modalOrderNo').value = selectedOrderNo;
            document.getElementById('modalItem').value = selectedItem;
            document.getElementById('modalVendor').value = selectedVendor;
            document.getElementById('modalQty').value = selectedPOQty;

            // 외주반출 등록 버튼 활성화
            document.getElementById('openModalButton').disabled = false;
        });
    });

    // 외주반출 등록 버튼 클릭 시 모달 열기
    document.getElementById('openModalButton').addEventListener('click', function () {
        if (selectedOrderNo) {
            var modal = new bootstrap.Modal(document.getElementById('registerModal'));
            modal.show();
        }
    });



    function adjustTableHeight() {
        var tableWrapper = document.getElementById('tableWrapper');
        var headerHeight = document.querySelector('header').offsetHeight; // 헤더 높이
        var footerHeight = document.querySelector('footer').offsetHeight; // 푸터 높이
        var searchFormHeight = document.getElementById('searchForm').offsetHeight; // 검색 폼 높이
        var availableHeight = window.innerHeight - headerHeight - footerHeight - searchFormHeight - 40; // 40은 여유 공간
        tableWrapper.style.height = availableHeight + 'px';
    }

    window.addEventListener('resize', adjustTableHeight);
    window.addEventListener('load', adjustTableHeight);

    document.addEventListener('DOMContentLoaded', function () {
        {% if form_submitted and not orders_with_hdr %}
        document.getElementById('errorModalBody').innerText = "데이터 없음";
        var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
        errorModal.show();
        {% endif %}
    });
</script>
{% endblock %}
