{% extends "base.html" %}
{% block content %}

<style>
    .selected-row {
        background-color: #D6EAF8 !important;
    }

    .completed-order {
        background-color: #e0ffff !important;
    }

    th {
        background-color: #f8f9fa;
        box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.4);
        top: 0;
        z-index: 20;
    }

    .table-wrapper {
        overflow: auto;
        height: calc(100vh - 300px);
        width: 100%;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        min-width: 50px;
        padding: 4px 8px;
    }

    .badge-container {
        display: flex;
        gap: 5px;
    }

    #dataTable_modal th, #dataTable_modal td {
        padding: 0px 4px;
    }

    .modal-input {
        width: 305px;
        height: 20px;
        font-size: 14px;
        border-style: hidden;
    }

    .modal-input2 {
        width: 120px;
        height: 20px;
        font-size: 14px;
        text-align: center;
        border-style: hidden;
    }

    .modal-input3, .modal-width, .result {
        width: 180px;
        height: 20px;
        font-size: 17px;
        text-align: center;
        border-style: hidden;
    }

    input:focus {
        outline: none;
    }

    .hidden {
        display: none;
    }

    .badge-container {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        max-width: 100%;
    }

    .badge-container .badge {
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .badge-container .badge:hover {
        background-color: #5a9; /* 호버 시 배경색 변경 */
        color: white;           /* 호버 시 글자 색 변경 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 약간의 그림자 효과 */
        transform: scale(1.05); /* 살짝 확대 */
    }


</style>

<div>
    <div style="display: flex; justify-content: space-between; align-items: center; padding: 0 15px 15px 0;">
        <h7 class="m-0 font-weight-bold text-primary mb-3">생산관리 > Packing 등록</h7>
        <div style="display: flex; gap: 10px; align-items: center;">
            <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" data-toggle="modal"
                    data-target=".bd-example-modal-lg" id="openModalButton">
                <i class="bi bi-box-seam"></i> Packing 등록
            </button>
            <button type="submit" form="searchForm" class="btn btn-light btn-sm shadow-sm ms-3">
                <i class="bi bi-search"></i> 조회
            </button>
        </div>
    </div>
    <form method="POST" action="{{ url_for('product.product_register_packing') }}" class="px-4" id="searchForm">
        <div class="row">
            <div class="col-md-3">
                <div class="mb-1 col-9 d-flex align-items-center">
                    <label for="m_box_no" class="form-label me-3" style="min-width: 110px;">
                        &emsp;&emsp;박스번호
                    </label>
                    <input type="text" class="form-control form-control-sm" id="m_box_no" name="m_box_no">
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-1 col-9 d-flex align-items-center">
                    <label for="cs_model" class="form-label me-3" style="min-width: 110px;">
                        &emsp;&emsp;&emsp;&emsp;모델
                    </label>
                    <input type="text" class="form-control form-control-sm" id="cs_model" name="cs_model">
                </div>
            </div>
        </div>
    </form>
</div>

<div class="gap" style="margin-top: 20px;"></div>

<div>
    <!--데이터 테이블-->
    <div class="table-wrapper">
        <table class="table table-sm table-hover"
                   style="text-align: center; border-collapse: collapse;" id="dataTable" width="100%" cellspacing="0">
            <thead class="table-light">
            <tr>
                <th>박스번호</th>
                <th>모델</th>
                <th>수량</th>
                <th>생산일자</th>
                <th>유효일자</th>
                <th>프린트 여부</th>
                <th style="width: 550px; font-weight: normal"></th>
            </tr>
            </thead>
            <tbody>
            {% for cs in packing_cs_data %}
            <tr>
                <td>{{ cs.m_box_no }}</td>
                <td>{{ cs.cs_model }}</td>
                <td>{{ cs.cs_qty }}</td>
                <td>{{ cs.cs_prod_date }}</td>
                <td>{{ cs.cs_exp_date }}</td>
                <td>{{ cs.print_flag }}</td>
                <td></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Packing 실적등록 모달 -->
<div class="modal fade" id="packingModal" tabindex="-1" role="dialog" aria-labelledby="packingModalLabel"
     aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="packingModalLabel">Packing 실적등록</h5>
            </div>
            <div class="modal-body">
                <form id="packingForm" class="px-5">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3 col-10">
                                <label for="barcode_scan3">Packing일자</label>
                                <input type="text" class="form-control" id="barcode_scan3" disabled>
                            </div>
                            <div class="mb-3 col-10">
                                <label for="barcode_scan4">Master Box No.</label>
                                <input type="text" class="form-control" id="barcode_scan4" disabled>
                            </div>
                            <div class="mb-3 col-10">
                                <label for="barcode_scan5">Lot No.</label>
                                <input type="text" class="form-control" id="barcode_scan5" disabled>
                            </div>
                            <div class="mb-3 col-10">
                                <label for="barcode_scan6">수량</label>
                                <input type="text" class="form-control" id="barcode_scan6" disabled>
                            </div>
                            <div class="mb-3 col-10">
                                <label for="barcode_scan7">유효기간</label>
                                <input type="text" class="form-control" id="barcode_scan7" disabled>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <table class="table table-sm table-borderless ms-auto" style="text-align: center;"
                                   id="dataTable_modal">
                                <thead class="table-sm">
                                <tr>
                                    <th>UDI QR</th>
                                    <th>Barcode</th>
                                    <th>검사결과</th>
                                </tr>
                                </thead>
                                <tbody id="modalTableBody"></tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="d-flex">
                    <input type="text" id="udiInputFooter" class="form-control" placeholder="바코드 스캔"
                           style="width: 370px; margin-right: 10px; border: none;">
                    <input type="text" id="barcodeInputFooter" class="form-control" placeholder="QR 스캔"
                           style="width: 170px; margin-right: 10px; border: none;">
                </div>
                <div>
                    <button type="button" class="btn btn-light shadow-sm ms-3" id="closeModalButton">닫기</button>
                    <button type="button" class="btn btn-light shadow-sm ms-3" id="saveChangesButton">
                        <i class="bi bi-printer"></i> 등록 및 label 인쇄
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 성공 메시지 모달 -->
<div class="modal fade" id="successModalpacking" tabindex="-1" role="dialog" aria-labelledby="successModalLabelpacking"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabelpacking"><i class="bi bi-check-circle-fill"></i> Success
                </h5>
            </div>
            <div class="modal-body">
                데이터가 성공적으로 저장되었습니다.<br>
                라벨을 인쇄하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" data-bs-dismiss="modal"
                        id="closeSuccessModalButton">닫기
                </button>
                <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" id="printLabelButton"><i
                        class="bi bi-printer"></i> Label 인쇄
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 실패 메시지 모달 -->
<div class="modal fade" id="errorModalpacking" tabindex="-1" role="dialog" aria-labelledby="errorModalLabelpacking"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
         style="max-width: 400px; left: 10%; position: absolute;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabelpacking"><i class="bi bi-exclamation-octagon-fill"></i> Error
                </h5>
            </div>
            <div class="modal-body">
                문제가 발생했습니다.<br>
                바코드 스캔 데이터를 초기화합니다.<br>
                <span style="color: red; font-weight: bold;">(<span id="errorRowNumber"></span>) 실적 데이터 조회 결과 없음 </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" data-bs-dismiss="modal"
                        id="closeErrorModalButton">닫기
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Master Box Details Modal -->
<div class="modal fade" id="masterBoxDetailsModal" tabindex="-1" role="dialog"
     aria-labelledby="masterBoxDetailsModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="masterBoxDetailsModalLabel">바코드 상세조회</h5>
            </div>
            <div class="modal-body">
                <!-- 추가된 상단 테이블 (Packing_Cs 데이터) -->
                <table class="table table-sm table-bordered" style="text-align: center; margin-bottom: 20px;">
                    <thead>
                    <tr>
                        <th>모델명</th>
                        <th>생산일자</th>
                        <th>유효일자</th>
                        <th>S/N</th>
                        <th>Box Label QR 코드</th>
                    </tr>
                    </thead>
                    <tbody id="csDetailsBody">
                    <!-- 여기서 서버에서 가져온 cs_data 데이터를 채울 예정 -->
                    </tbody>
                </table>

                <!-- 기존 하단 테이블 (Packing_Dtl 데이터) -->
                <table class="table table-sm table-bordered" style="text-align: center;">
                    <thead>
                    <tr>
                        <th>Lot No</th>
                        <th>제품 UDI QR</th>
                        <th>Barcode</th>
                    </tr>
                    </thead>
                    <tbody id="masterBoxDetailsBody">
                    <!-- 여기서 서버에서 가져온 데이터를 채울 예정 -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" id="closeModalButton2">닫기</button>
                <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" id="printMasterBoxButton"><i
                        class="bi bi-printer"></i> label 재인쇄
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    var selectedOrderNo = '';

    document.getElementById('closeModalButton').addEventListener('click', function () {
        $('#packingModal').modal('hide');
    });

    document.getElementById('closeModalButton2').addEventListener('click', function () {
        $('#masterBoxDetailsModal').modal('hide');
    });

    document.querySelectorAll('#dataTable tbody tr').forEach(row => {
        row.addEventListener('click', function () {
            document.querySelectorAll('#dataTable tbody tr').forEach(row => {
                row.classList.remove('selected-row');
            });
            this.classList.add('selected-row');
            selectedOrderNo = this.getAttribute('data-order-no');
            document.getElementById('packing_order_no').value = selectedOrderNo;
            document.getElementById('openModalButton').disabled = false;
        });
    });

    // openModalButton 클릭 시 Packing 모달 표시 및 데이터 초기화
    document.getElementById('openModalButton').addEventListener('click', function() {
        // Master Box 번호 생성
        fetch('/product/get_next_master_box_no/', {
            method: 'GET'
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('barcode_scan4').value = data.next_master_box_no;  // 박스 번호 설정

            // 모달 열기 및 포커스 설정
            $('#packingModal').modal('show');
            setTimeout(function() {
                var udiInputFooter = document.getElementById('udiInputFooter');
                if (udiInputFooter) {
                    udiInputFooter.focus();
                }
            }, 500);
        })
        .catch(error => {
            console.error('Error fetching next master box number:', error);
        });
    });

    window.onload = function() {
        var selectedOrderNo = '';

        // 모달이 열릴 때 이벤트 리스너를 추가
        $('#packingModal').on('shown.bs.modal', function () {
            var udiInputFooter = document.getElementById('udiInputFooter');
            var barcodeInputFooter = document.getElementById('barcodeInputFooter');

            if (udiInputFooter && barcodeInputFooter) {
                udiInputFooter.addEventListener('keyup', handleBarcodeInput);
                barcodeInputFooter.addEventListener('keyup', handleUdiInput);
            } else {
                console.error("UDI or Barcode input footer not found.");
            }
        });

        // closeErrorModalButton과 printLabelButton에 이벤트 리스너를 추가
        var closeErrorModalButton = document.getElementById('closeErrorModalButton');
        var printLabelButton = document.getElementById('printLabelButton');
        var saveChangesButton = document.getElementById('saveChangesButton');

        if (closeErrorModalButton) {
            closeErrorModalButton.addEventListener('click', function() {
                clearInputs();
            });
        }

        if (saveChangesButton) {
            saveChangesButton.addEventListener('click', function(event) {
                event.preventDefault();
                console.log('Save Changes Button Clicked');
                savePackingData();  // savePackingData 함수 호출
                console.log('Save Changes Button Clicked 222');
            });
        }

        if (printLabelButton) {
            printLabelButton.addEventListener('click', function() {
                var boxNo = document.querySelector('.master-box').getAttribute('data-box-no');  // 박스 번호 가져오기
                console.log('실행 가능한 codesoft win32com 객체 없음. ')

                console.log('버튼클릭 성공');
                // 서버로 박스 번호를 전송 (POST 요청)
                fetch('/print_label/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ box_no: boxNo })  // 박스 번호 전송
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message) {
                        alert('라벨이 성공적으로 프린트되었습니다!');
                    } else {
                        alert('프린트 중 오류 발생: ' + data.error);
                    }
                })
                .catch(error => {
                    console.error('프린트 중 오류 발생:', error);
                });
            });
        }

        // 나머지 초기화 코드...
        var today = new Date();
        var day = today.getDate();
        var month = today.getMonth() + 1;
        var year = today.getFullYear();
        var tableBody = document.getElementById('modalTableBody');
        var rows = 24;

        if (day < 10) day = '0' + day;
        if (month < 10) month = '0' + month;
        var todayString = year + '-' + month + '-' + day;
        document.getElementById('barcode_scan3').value = todayString;

        for (var i = 1; i <= rows; i++) {
            var row = document.createElement('tr');
            var cell = document.createElement('td');
            cell.textContent = i;
            cell.className = 'index-cell';
            cell.style.display = 'none';
            row.appendChild(cell);

            var barcodeCell = document.createElement('td');
            var barcodeInput = document.createElement('input');
            barcodeInput.type = 'text';
            barcodeInput.className = 'modal-input';
            barcodeInput.id = 'barcode-di-' + i;
            barcodeCell.appendChild(barcodeInput);
            row.appendChild(barcodeCell);

            var udiCell = document.createElement('td');
            var udiInput = document.createElement('input');
            udiInput.type = 'text';
            udiInput.className = 'modal-input2';
            udiInput.id = 'udi-qr-' + i;
            udiCell.appendChild(udiInput);
            row.appendChild(udiCell);

            var resultCell = document.createElement('td');
            var resultInput = document.createElement('input');
            resultInput.type = 'text';
            resultInput.className = 'modal-input3';
            resultCell.className = 'modal-width';
            resultInput.id = 'result-packing-' + i;
            resultInput.readOnly = true;
            resultCell.appendChild(resultInput);
            row.appendChild(resultCell);

            tableBody.appendChild(row);
        }

        // 박스 번호를 클릭했을 때 이벤트 처리
        document.querySelectorAll('.master-box').forEach(box => {
            box.addEventListener('click', function() {
                var boxNo = this.getAttribute('data-box-no');
                console.log('Clicked Box No:', boxNo);

                // 해당 박스 번호의 데이터를 서버에서 불러옴
                fetch(`/product/get_box_details/${boxNo}`)
                    .then(response => response.json())
                    .then(data => {
                        // 상단 cs_data 데이터를 모달에 출력
                        var csModalBody = document.getElementById('csDetailsBody');
                        csModalBody.innerHTML = '';  // 기존 데이터를 클리어
                        if (data.cs_details) {
                            var tr = document.createElement('tr');
                            tr.innerHTML = `
                                <td>${data.cs_details.cs_model}</td>
                                <td>${data.cs_details.cs_prod_date}</td>
                                <td>${data.cs_details.cs_exp_date}</td>
                                <td>${data.cs_details.cs_udi_serial}</td>
                                <td>${data.cs_details.cs_udi_qr}</td>
                            `;
                            csModalBody.appendChild(tr);
                        }

                        // 하단 Packing_Dtl 데이터를 모달에 출력
                        var modalBody = document.getElementById('masterBoxDetailsBody');
                        modalBody.innerHTML = '';  // 기존 데이터를 클리어

                        data.rows.forEach(row => {
                            var tr = document.createElement('tr');

                            var lotNoTd = document.createElement('td');
                            lotNoTd.textContent = row.lot_no;
                            tr.appendChild(lotNoTd);

                            var udiQrTd = document.createElement('td');
                            udiQrTd.textContent = row.udi_code;
                            tr.appendChild(udiQrTd);

                            var barcodeTd = document.createElement('td');
                            barcodeTd.textContent = row.barcode;
                            tr.appendChild(barcodeTd);

                            modalBody.appendChild(tr);
                        });

                        // 모달을 띄움
                        var masterBoxDetailsModal = new bootstrap.Modal(document.getElementById('masterBoxDetailsModal'));
                        masterBoxDetailsModal.show();
                    })
                    .catch(error => {
                        console.error('Error fetching box details:', error);
                    });
            });
        });

        // Print 버튼 클릭 시 이벤트 처리
        document.getElementById('printMasterBoxButton').addEventListener('click', function() {
            // 인쇄 로직 추가
            window.print();  // 간단하게 페이지 전체 인쇄
        });
    };


    // UDI QR을 처리하는 함수 -> barcodeInputFooter에서 UDI를 처리
    function handleUdiInput(event) {
        if (event.target.value.length === 12) {
            var udiQr = event.target.value;
            checkBarcode(udiQr, null, null);
        }
    }

    // 바코드를 처리하는 함수 -> udiInputFooter에서 바코드를 처리
    function handleBarcodeInput(event) {
        if (event.target.value.length === 39) {
            document.getElementById('barcodeInputFooter').focus();
        }
    }

    // 빈 행을 찾아서 데이터 할당하는 함수
    function findEmptyRow() {
        var tableBody = document.getElementById('modalTableBody');
        var rows = tableBody.getElementsByTagName('tr');

        for (var i = 0; i < rows.length; i++) {
            var udiQrInput = rows[i].querySelector('input[id^="udi-qr-"]');
            var barcodeInput = rows[i].querySelector('input[id^="barcode-di-"]');
            if (!udiQrInput.value && !barcodeInput.value) {
                return rows[i];
            }
        }
        return null;
    }

    // checkBarcode 함수 수정 - barcode_flow 업데이트 포함
    function checkBarcode(udiQr) {
        var barcodeWithoutCheckDigit = udiQr.slice(0, -1);
        fetch('/product/check_barcode/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ barcode: barcodeWithoutCheckDigit })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                var emptyRow = findEmptyRow();
                if (emptyRow) {
                    var udiQrInput = emptyRow.querySelector('input[id^="udi-qr-"]');
                    var barcodeInput = emptyRow.querySelector('input[id^="barcode-di-"]');
                    var resultInput = emptyRow.querySelector('input[id^="result-packing-"]');

                    udiQrInput.value = udiQr;
                    barcodeInput.value = document.getElementById('udiInputFooter').value;
                    resultInput.value = 'PASS';

                     if (data.lot) {
                        document.getElementById('barcode_scan5').value = data.lot;  // LOT 값 설정
                    }

                    // barcode_flow 모델에 데이터 업데이트 요청
                    fetch('/product/update_barcode_flow/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            barcode: barcodeWithoutCheckDigit,
                            master_box_no: document.getElementById('barcode_scan4').value
                        })
                    }).then(response => response.json())
                      .then(data => console.log('Barcode flow updated:', data))
                      .catch(error => console.error('Error updating barcode flow:', error));

                    updateQuantityAndExpiryDate();
                    document.getElementById('udiInputFooter').focus();
                } else {
                    alert('모든 필드가 이미 채워졌습니다.');
                }
                document.getElementById('udiInputFooter').value = '';
                document.getElementById('barcodeInputFooter').value = '';
            } else {
                alert('해당 바코드는 이미 포장을 완료했습니다.');
                document.getElementById('udiInputFooter').focus();
            }
        })
        .catch(error => {
            console.error('Error during barcode check:', error);
        });
    }


    // 수량 및 유효기간 업데이트
    function updateQuantityAndExpiryDate() {
        var rows = document.getElementById('modalTableBody').getElementsByTagName('tr');
        var quantity = 0;

        for (var i = 0; i < rows.length; i++) {
            var udiQr = rows[i].querySelector('input[id^="udi-qr-"]');
            if (udiQr && udiQr.value) {
                quantity++;
            }
        }

        document.getElementById('barcode_scan6').value = quantity;

        var expiryDateField = document.getElementById('barcode_scan7');
        if (!expiryDateField.value && quantity > 0) {
            var packingDate = document.getElementById('barcode_scan3').value;
            var expiryDate = new Date(packingDate);
            expiryDate.setFullYear(expiryDate.getFullYear() + 3);
            expiryDateField.value = expiryDate.toISOString().split('T')[0];
        }
    }

    function savePackingData() {
        var packingData = {
            master_box_no: document.getElementById('barcode_scan4').value,
            lot_no: document.getElementById('barcode_scan5').value,
            quantity: document.getElementById('barcode_scan6').value,
            expiry_date: document.getElementById('barcode_scan7').value,
            rows: []
        };

        document.querySelectorAll('#modalTableBody tr').forEach(function(row) {
            var udiQr = row.querySelector('input[id^="udi-qr-"]').value;
            var barcode = row.querySelector('input[id^="barcode-di-"]').value;
            var result = row.querySelector('input[id^="result-packing-"]').value;

            if (udiQr && barcode && result) {
                packingData.rows.push({
                    udi_qr: udiQr,
                    barcode: barcode,
                    result: result
                });
            }
        });

        fetch('/product/save_packing_data/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(packingData)
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                $('#successModalpacking').modal('show');
            } else {
                alert('Packing 데이터 저장에 실패했습니다.');
            }
        })
        .catch(error => {
            console.error('Error saving packing data:', error);
        });
    }


    function clearInputs() {
        document.querySelectorAll('#modalTableBody input').forEach(input => {
            input.value = '';
        });
    }


</script>

{% endblock %}