{% extends "base.html" %}
{% block content %}

<style>
    th, td {
        padding: 15px;
        text-align: center;
        white-space: nowrap;
    }

    th {
        background-color: #f8f9fa;
        box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.4);
        position: sticky;
        top: 0;
        z-index: 40; /* 헤더의 z-index를 높임 */
    }

    th.fixed, td.fixed {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        background-color: #fff;
        z-index: 50; /* 고정 열의 z-index를 높임 */
    }

    th.fixed-2, td.fixed-2 {
        position: -webkit-sticky;
        position: sticky;
        left: 50px;
        background-color: #fff;
        z-index: 50;
    }

    th.fixed-3, td.fixed-3 {
        position: -webkit-sticky;
        position: sticky;
        left: 150px;
        background-color: #fff;
        z-index: 50;
    }

    th.fixed-4, td.fixed-4 {
        position: -webkit-sticky;
        position: sticky;
        left: 250px;
        background-color: #fff;
        z-index: 50;
    }

    th.fixed-5, td.fixed-5 {
        position: -webkit-sticky;
        position: sticky;
        left: 350px;
        background-color: #fff;
        z-index: 50;
    }

    th.fixed-6, td.fixed-6 {
        position: -webkit-sticky;
        position: sticky;
        left: 450px;
        background-color: #fff;
        z-index: 50;
    }

    th.fixed-7, td.fixed-7 {
        position: -webkit-sticky;
        position: sticky;
        left: 550px;
        background-color: #fff;
        z-index: 50;
    }

    .table-wrapper {
        overflow: auto;
        height: calc(100vh - 186px); /* 화면 높이에 따라 조절 */
        width: 100%;
        margin-bottom: 20px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        min-width: 100px;
    }
</style>


<div>
    <div style="display: flex; justify-content: space-between; align-items: center; padding: 0 15px 15px 15px;">
        <h7 class="m-0 font-weight-bold text-primary mb-3">생산관리 > 제조실적등록</h7>
        <div style="display: flex; gap: 10px; align-items: center;">
            <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" data-bs-toggle="modal"
                    data-bs-target="#uploadModal" id="openModalButton"><i
                    class="bi bi-file-earmark-spreadsheet"></i>
                실적 Excel 업로드
            </button>
            <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="POST" action="{{ url_for('product.upload_excel') }}" enctype="multipart/form-data"
                              onsubmit="showLoadingModal()">
                            <div class="modal-header">
                                <h5 class="modal-title" id="uploadModalLabel">엑셀 파일 업로드</h5>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="excelFile" class="form-label">엑셀 파일 선택</label>
                                    <input class="form-control" type="file" id="excelFile" name="excelFile"
                                           accept=".xlsx,.xls">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        onclick="location.reload();">닫기
                                </button>
                                <button type="submit" class="btn btn-primary">업로드</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" onclick="handleSubmit()">
                <i class="bi bi-box-arrow-in-down"></i> 실적 등록
            </button>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p class="mt-3">Excel 데이터를 업로드하는 중입니다. 잠시만 기다려 주세요...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loadingModal2" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p class="mt-3">실적 데이터를 업로드하는 중입니다. 잠시만 기다려 주세요...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="registerForm" method="post" action="{{ url_for('product.register') }}">
    <div class="table-wrapper">
        <table class="table table-sm table-hover" style="border-collapse: collapse;" id="dataTable1"
               width="100%" cellspacing="0">
            <thead class="table-light">
            <tr>
                <th class="fixed" style="z-index: 100;"></th>
                <th class="fixed-2" style="z-index: 100;"><input type="checkbox" name="" id="chkRowAll"></th>
                <th class="fixed-3" style="z-index: 100;">LOT</th>
                <th class="fixed-4" style="z-index: 100;">product</th>
                <th class="fixed-5" style="background-color: #e0ffff; z-index: 100;">barcode</th>
                <th class="fixed-6" style="background-color: #e0ffff; z-index: 100;">modified</th>
                <th>실적처리</th>
                <th>err_code</th>
                <th style="background-color: #fffacd;">err_info</th>
                <th style="background-color: #fff0f5;">print_time</th>
                <th>inweight_time</th>
                <th>inweight_cycles</th>
                <th>inweight_station</th>
                <th>inweight_result</th>
                <th>inweight_value</th>
                <th>leaktest_cycles</th>
                <th>leaktest_entry</th>
                <th>leaktest_exit</th>
                <th>leaktest_station</th>
                <th>leaktest_value</th>
                <th>leaktest_ptest</th>
                <th>leaktest_duration</th>
                <th>leaktest_result</th>
                <th style="background-color: #fff0f5;">outweight_time</th>
                <th>outweight_station</th>
                <th>outweight_cycles</th>
                <th>outweight_result</th>
                <th>outweight_value</th>
                <th>itest2_time</th>
                <th>itest2_station</th>
                <th>itest2_cycles</th>
                <th>itest2_result</th>
                <th>itest2_value</th>
                <th>itest2_ptest</th>
                <th style="background-color: #fff0f5;">prodlabel_time</th>
                <th style="background-color: #fff0f5;">prodlabel_cycles</th>

            </tr>
            </thead>
            <tbody>
            {% for row in data %}
            {% if row.REPORT_FLAG == 'N' %}
            <tr>
                <td class="fixed">{{ loop.index }}</td>
                <td class="fixed-2"><input type="checkbox" name="chkRow" value="{{ row.barcode }}|{{ row.modified }}"></td>
                <td class="fixed-3">{{ row.LOT }}</td>
                <td class="fixed-4">{{ row.product }}</td>
                <td class="fixed-5" style="background-color: #e0ffff;">{{ row.barcode }}</td>
                <td class="fixed-6" style="background-color: #e0ffff;">{{ row.modified.strftime('%Y-%m-%d %H:%M:%S') if row.modified else '' }}</td>
                <td>{{ row.REPORT_FLAG }}</td>
                <td>{{ row.err_code }}</td>
                <td style="background-color: #fffacd;">{{ row.err_info }}</td>
                <td style="background-color: #fff0f5;">{{ row.print_time.strftime('%Y-%m-%d %H:%M:%S') if row.print_time else '' }}</td>
                <td>{{ row.inweight_time.strftime('%Y-%m-%d %H:%M:%S') if row.inweight_time else '' }}</td>
                <td>{{ row.inweight_cycles }}</td>
                <td>{{ row.inweight_station }}</td>
                <td>{{ row.inweight_result }}</td>
                <td>{{ row.inweight_value }}</td>
                <td>{{ row.leaktest_cycles }}</td>
                <td>{{ row.leaktest_entry.strftime('%Y-%m-%d %H:%M:%S') if row.leaktest_entry else '' }}</td>
                <td>{{ row.leaktest_exit.strftime('%Y-%m-%d %H:%M:%S') if row.leaktest_exit else '' }}</td>
                <td>{{ row.leaktest_station }}</td>
                <td>{{ row.leaktest_value }}</td>
                <td>{{ row.leaktest_ptest }}</td>
                <td>{{ row.leaktest_duration }}</td>
                <td>{{ row.leaktest_result }}</td>
                <td style="background-color: #fff0f5;">{{ row.outweight_time.strftime('%Y-%m-%d %H:%M:%S') if row.outweight_time else '' }}</td>
                <td>{{ row.outweight_station }}</td>
                <td>{{ row.outweight_cycles }}</td>
                <td>{{ row.outweight_result }}</td>
                <td>{{ row.outweight_value }}</td>
                <td>{{ row.itest2_time.strftime('%Y-%m-%d %H:%M:%S') if row.itest2_time else '' }}</td>
                <td>{{ row.itest2_station }}</td>
                <td>{{ row.itest2_cycles }}</td>
                <td>{{ row.itest2_result }}</td>
                <td>{{ row.itest2_value }}</td>
                <td>{{ row.itest2_ptest }}</td>
                <td style="background-color: #fff0f5;">{{ row.prodlabel_time.strftime('%Y-%m-%d %H:%M:%S') if row.prodlabel_time else '' }}</td>
                <td style="background-color: #fff0f5;">{{ row.prodlabel_cycles }}</td>

            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</form>


<script>
    document.getElementById('openModalButton').addEventListener('click', function() {
        var uploadModal = new bootstrap.Modal(document.getElementById('uploadModal'));
        uploadModal.show();
    });

    function showLoadingModal() {
        var loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'));
        loadingModal.show();
    }

    function showLoadingModal2() {
        var loadingModal2 = new bootstrap.Modal(document.getElementById('loadingModal2'));
        loadingModal2.show();
    }

    function handleSubmit() {
        var checkboxes = document.querySelectorAll('input[name="chkRow"]:checked');
        if (checkboxes.length === 0) {
            alert('실적 처리할 데이터를 선택해 주세요.');
        } else {
            showLoadingModal2();
            document.getElementById('registerForm').submit();
        }
    }

    // Select All functionality
    document.getElementById('chkRowAll').addEventListener('change', function() {
        var checkboxes = document.querySelectorAll('input[name="chkRow"]');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    document.getElementById('completeModalBody').innerText = "{{ message }}";
                    var completeModal = new bootstrap.Modal(document.getElementById('completeModal'));
                    completeModal.show();
                {% elif category == 'error' %}
                    document.getElementById('errorModalBody').innerText = "{{ message }}";
                    var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                    errorModal.show();
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
});
</script>
{% endblock %}
