{% extends "base.html" %}
{% block content %}

<style>
    th, td {
        padding: 15px;
        text-align: center;
        white-space: nowrap;
    }

    th {
        background-color: #f8f9fa;
        box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.4);
        position: sticky;
        top: 0;
        z-index: 20;
    }

     th:first-child, td:first-child {
        min-width: 50px; /* 맨 앞 열의 너비 줄이기 */
    }

    .table-wrapper {
        overflow: auto;
        height: 580px;
        width: 100%;
        margin-bottom: 20px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        min-width: 150px; /* 모든 테이블 셀에 최소 너비 설정 */
    }

    /* 기본 고정 열 */
    th.fixed, td.fixed {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        background-color: #fff;
        z-index: 30; /* 기본 고정 열의 z-index 설정 */
    }

    th.fixed-2, td.fixed-2 {
        position: -webkit-sticky;
        position: sticky;
        left: 150px; /* 첫 번째 열 너비에 맞춤 */
        background-color: #fff;
        z-index: 30;
    }

    th.fixed-3, td.fixed-3 {
        position: -webkit-sticky;
        position: sticky;
        left: 300px; /* 첫 번째 + 두 번째 열 너비에 맞춤 */
        background-color: #fff;
        z-index: 30;
    }

    th.fixed-4, td.fixed-4 {
        position: -webkit-sticky;
        position: sticky;
        left: 450px; /* 첫 번째 + 두 번째 + 세 번째 열 너비에 맞춤 */
        background-color: #fff;
        z-index: 30;
    }

    /* 두 번째 테이블 고정 열 */
    #process30 th.fixed, #process30 td.fixed {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        background-color: #fff;
        z-index: 40; /* 두 번째 테이블 고정 열의 z-index 설정 */
    }

    #process30 th.fixed-2, #process30 td.fixed-2 {
        position: -webkit-sticky;
        position: sticky;
        left: 150px;
        background-color: #fff;
        z-index: 40;
    }

    #process30 th.fixed-3, #process30 td.fixed-3 {
        position: -webkit-sticky;
        position: sticky;
        left: 300px;
        background-color: #fff;
        z-index: 40;
    }

    #process30 th.fixed-4, #process30 td.fixed-4 {
        position: -webkit-sticky;
        position: sticky;
        left: 450px;
        background-color: #fff;
        z-index: 40;
    }

    #process30 th.fixed-5, #process30 td.fixed-5 {
        position: -webkit-sticky;
        position: sticky;
        left: 600px;
        background-color: #fff;
        z-index: 40;
    }
</style>

<div>
    <div style="display: flex; justify-content: space-between; align-items: center; padding: 0 15px 15px 15px;">
        <h7 class="m-0 font-weight-bold text-primary mb-3">생산관리 > 제조실적등록</h7>
        <div style="display: flex; gap: 10px; align-items: center;">
            <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" data-bs-toggle="modal"
                    data-bs-target="#uploadModal" id="openModalButton"><i
                    class="bi bi-file-earmark-spreadsheet"></i>
                실적 Excel 업로드
            </button>
            <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="POST" action="{{ url_for('product.upload_excel') }}" enctype="multipart/form-data"
                              onsubmit="showLoadingModal()">
                            <div class="modal-header">
                                <h5 class="modal-title" id="uploadModalLabel">엑셀 파일 업로드</h5>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="excelFile" class="form-label">엑셀 파일 선택</label>
                                    <input class="form-control" type="file" id="excelFile" name="excelFile"
                                           accept=".xlsx,.xls">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        onclick="location.reload();">닫기
                                </button>
                                <button type="submit" class="btn btn-primary">업로드</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <button type="submit" form="registerForm" class="btn btn-light btn-sm shadow-sm ms-3" onclick="showLoadingModal2()">
                <i class="bi bi-box-arrow-in-down"></i> 실적 등록
            </button>
<!--            <button type="submit" form="searchForm" class="btn btn-light btn-sm shadow-sm ms-3">-->
<!--                <i class="bi bi-search"></i> 조회-->
<!--            </button>-->
        </div>
    </div>

    <!-- 플래시 메시지 -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- 로딩 중 모달 -->
    <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p class="mt-3">Excel 데이터를 업로드하는 중입니다. 잠시만 기다려 주세요...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loadingModal2" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p class="mt-3">실적 데이터를 업로드하는 중입니다. 잠시만 기다려 주세요...</p>
                </div>
            </div>
        </div>
    </div>




<!--    <form method="POST" action="{{ url_for('product.register') }}" class="px-4 pb-4" id="registerForm" onsubmit="showLoadingModal()">-->
<!--         <div class="row">-->
<!--            <div class="col-md-3">-->
<!--                <div class="mb-1 col-8 d-flex align-items-center">-->
<!--                    <label for="plant_code" class="form-label me-3" style="min-width: 110px;">-->
<!--                        &emsp;&emsp;&emsp;&emsp;공장-->
<!--                    </label>-->
<!--                    <select class="form-select form-select-sm" id="plant_code" name="plant_code">-->
<!--                        <option value="">p710 인공신장기공장</option>-->
<!--                        {% for plant in plants %}-->
<!--                        <option value="{{ plant.PLANT_CD }}" {% if plant.PLANT_CD== PLANT_CD %}selected{% endif %}>-->
<!--                            {{ plant.PLANT_CD }} {{ plant.PLANT_NM }}-->
<!--                        </option>-->
<!--                        {% endfor %}-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="mb-1 col-8 d-flex align-items-center">-->
<!--                    <label for="item_cd" class="form-label me-3" style="min-width: 110px;">-->
<!--                        &emsp;&emsp;&emsp;Lot No.-->
<!--                    </label>-->
<!--                    <div class="d-flex">-->
<!--                        <input type="text" class="form-control form-control-sm me-2" id="start_date" name="start_date"-->
<!--                               value="{{ PLANT_START_DT.strftime('%Y-%m-%d') if PLANT_START_DT else '' }}">-->
<!--                        <span class="mx-2">~</span>-->
<!--                        <input type="text" class="form-control form-control-sm ms-2" id="end_date" name="end_date"-->
<!--                               value="{{ PLANT_COMPT_DT.strftime('%Y-%m-%d') if PLANT_COMPT_DT else '' }}">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                <div class="mb-1 col-8 d-flex align-items-center">-->
<!--                    <label for="start_date" class="form-label me-3" style="min-width: 110px;">-->
<!--                        &emsp;&emsp;등록일자-->
<!--                    </label>-->
<!--                    <div class="d-flex">-->
<!--                        <input type="date" class="form-control form-control-sm me-2" id="start_date3" name="start_date"-->
<!--                               value="{{ PLANT_START_DT.strftime('%Y-%m-%d') if PLANT_START_DT else '' }}">-->
<!--                        <span class="mx-2">~</span>-->
<!--                        <input type="date" class="form-control form-control-sm ms-2" id="end_date3" name="end_date"-->
<!--                               value="{{ PLANT_COMPT_DT.strftime('%Y-%m-%d') if PLANT_COMPT_DT else '' }}">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="mb-1 col-8 d-flex align-items-center">-->
<!--                    <label for="order_status1" class="form-label me-3" style="min-width: 110px;">-->
<!--                        &emsp;Barcode No.-->
<!--                    </label>-->
<!--                     <div class="d-flex">-->
<!--                        <input type="text" class="form-control form-control-sm me-2" id="start_date1" name="start_date"-->
<!--                               value="{{ PLANT_START_DT.strftime('%Y-%m-%d') if PLANT_START_DT else '' }}">-->
<!--                        <span class="mx-2">~</span>-->
<!--                        <input type="text" class="form-control form-control-sm ms-2" id="end_date1" name="end_date"-->
<!--                               value="{{ PLANT_COMPT_DT.strftime('%Y-%m-%d') if PLANT_COMPT_DT else '' }}">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->

</div>

<!-- 데이터 테이블 -->
<div class="table-wrapper" >
    <table class="table table-sm table-hover" style="border-collapse: collapse;" id="dataTable1"
           width="100%" cellspacing="0">
        <thead class="table-light">
        <tr>
            <th class="sticky"></th>
            <th>체크박스</th>
            <th class="sticky">LOT</th>
            <th class="sticky">product</th>
            <th class="sticky" style="background-color: #e0ffff;">barcode</th>
            <th class="sticky" style="background-color: #e0ffff;">modified</th>
            <th class="sticky">err_code</th>
            <th class="sticky" style="background-color: #fffacd;">err_info</th>
            <th class="sticky" style="background-color: #fff0f5;">print_time</th>
            <th class="sticky">inweight_time</th>
            <th class="sticky">inweight_cycles</th>
            <th class="sticky">inweight_station</th>
            <th class="sticky">inweight_result</th>
            <th class="sticky">inweight_value</th>
            <th class="sticky">leaktest_cycles</th>
            <th class="sticky">leaktest_entry</th>
            <th class="sticky">leaktest_exit</th>
            <th class="sticky">leaktest_station</th>
            <th class="sticky">leaktest_value</th>
            <th class="sticky">leaktest_ptest</th>
            <th class="sticky">leaktest_duration</th>
            <th class="sticky">leaktest_result</th>
            <th class="sticky" style="background-color: #fff0f5;">outweight_time</th>
            <th class="sticky">outweight_station</th>
            <th class="sticky">outweight_cycles</th>
            <th class="sticky">outweight_result</th>
            <th class="sticky">outweight_value</th>
            <th class="sticky">itest2_time</th>
            <th class="sticky">itest2_station</th>
            <th class="sticky">itest2_cycles</th>
            <th class="sticky">itest2_result</th>
            <th class="sticky">itest2_value</th>
            <th class="sticky">itest2_ptest</th>
            <th class="sticky" style="background-color: #fff0f5;">prodlabel_time</th>
            <th class="sticky" style="background-color: #fff0f5;">prodlabel_cycles</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><input type="checkbox" name="chkRow" id=""></td>
            <td>{{ row.LOT }}</td>
            <td>{{ row.product }}</td>
            <td style="background-color: #e0ffff;">{{ row.barcode }}</td>
            <td style="background-color: #e0ffff;">{{ row.modified }}</td>
            <td>{{ row.err_code }}</td>
            <td style="background-color: #fffacd;">{{ row.err_info }}</td>
            <td style="background-color: #fff0f5;">{{ row.print_time }}</td>
            <td>{{ row.inweight_time }}</td>
            <td>{{ row.inweight_cycles }}</td>
            <td>{{ row.inweight_station }}</td>
            <td>{{ row.inweight_result }}</td>
            <td>{{ row.inweight_value }}</td>
            <td>{{ row.leaktest_cycles }}</td>
            <td>{{ row.leaktest_entry }}</td>
            <td>{{ row.leaktest_exit }}</td>
            <td>{{ row.leaktest_station }}</td>
            <td>{{ row.leaktest_value }}</td>
            <td>{{ row.leaktest_ptest }}</td>
            <td>{{ row.leaktest_duration }}</td>
            <td>{{ row.leaktest_result }}</td>
            <td style="background-color: #fff0f5;">{{ row.outweight_time }}</td>
            <td>{{ row.outweight_station }}</td>
            <td>{{ row.outweight_cycles }}</td>
            <td>{{ row.outweight_result }}</td>
            <td>{{ row.outweight_value }}</td>
            <td>{{ row.itest2_time }}</td>
            <td>{{ row.itest2_station }}</td>
            <td>{{ row.itest2_cycles }}</td>
            <td>{{ row.itest2_result }}</td>
            <td>{{ row.itest2_value }}</td>
            <td>{{ row.itest2_ptest }}</td>
            <td style="background-color: #fff0f5;">{{ row.prodlabel_time }}</td>
            <td style="background-color: #fff0f5;">{{ row.prodlabel_cycles }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.getElementById('openModalButton').addEventListener('click', function() {
        var uploadModal = new bootstrap.Modal(document.getElementById('uploadModal'));
        uploadModal.show();
    });

    function showLoadingModal() {
        var loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'));
        loadingModal.show();
    }

    function showLoadingModal2() {
        var loadingModal2 = new bootstrap.Modal(document.getElementById('loadingModal2'));
        loadingModal2.show();
    }



</script>
{% endblock %}
