{% extends "base.html" %}
{% block content %}

<style>
    .btn-custom {
        background-color: #d3d3d3; /* 옅은 밝은색 배경 */
        color: #343a40; /* 찐한 글자 색 */
        font-weight: bold; /* 글자를 찐하게 */
    }
</style>
<div>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h7 class="m-0 font-weight-bold text-primary mb-3">제조오더관리 > 제조오더조회</h7>
        <div style="display: flex; gap: 10px; align-items: center;">
            <button type="button" class="btn btn-custom shadow-sm ms-3" data-toggle="modal"
                    data-target=".bd-example-modal-lg">하위반제품
                정보조회
            </button>
        </div>
        <!--모달-->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">하위반제품 정보조회</h5>

                    </div>
                    <div class="modal-body">
                        <form id="productForm" method="POST" action="{{ url_for('product.product_order') }}" class="px-5">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="mb-1 col-8">
                                        <label for="plant_code2" class="form-label">공장:</label>
                                        <select class="form-control" id="plant_code2" name="plant_code">
                                            <option value="">-</option>
                                            {% for plant in plants %}
                                            <option value="{{ plant.PLANT_CD }}" {% if plant.PLANT_CD== PLANT_CD
                                                    %}selected{% endif %}>
                                                {{ plant.PLANT_CD }} {{ plant.PLANT_NM }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-1 col-14">
                                        <label for="aaa" class="form-label">제조오더번호:</label>
                                        <input type="text" class="form-control" id="aaa"
                                               name="parent_item_cd" value="{{ PARENT_ITEM_CD }}">
                                    </div>
                                </div>
                                <div class="col-md-3">

                                    <div class="mb-1 col-14">
                                        <label for="parent_item_cd" class="form-label">상위품목:</label>
                                        <input type="text" class="form-control" id="parent_item_cd"
                                               name="parent_item_cd" value="{{ PARENT_ITEM_CD }}">
                                    </div>
                                </div>
                            </div>
                        </form>

                        <table class="table table-sm table-bordered table-hover"
                               style="text-align: center; border-collapse: collapse;" id="dataTable_modal" width="100%"
                               cellspacing="0">
                            <thead>
                            <tr>

                                <th style="background-color: #78AA45; color: white;">품목</th>
                                <th style="background-color: #78AA45; color: white;">품목명</th>
                                <th style="background-color: #78AA45; color: white;">품목규격</th>
                                <th style="background-color: #78AA45; color: white;">단위</th>
                                <th style="background-color: #78AA45; color: white;">소요량</th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" form="productForm" class="btn btn-custom shadow-sm ms-3">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--데이터 테이블-->
    <form method="POST" action="{{ url_for('product.product_order') }}" class="px-5">
        <div class="row">
            <div class="col-md-3">
                <div class="mb-1 col-8">
                    <label for="plant_code" class="form-label">공장:</label>
                    <select class="form-control" id="plant_code" name="plant_code">
                        <option value="">-</option>
                        {% for plant in plants %}
                        <option value="{{ plant.PLANT_CD }}" {% if plant.PLANT_CD== PLANT_CD %}selected{% endif %}>{{
                            plant.PLANT_CD }} {{plant.PLANT_NM}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-1 col-8">
                    <label for="wc_cd" class="form-label">작업공정:</label>
                    <select class="form-control" id="wc_cd" name="wc_cd">
                        <option value="">-</option>
                        {% for work_center in work_centers %}
                        <option value="{{ work_center.WC_CD }}" {% if work_center.WC_CD== WC_CD %}selected{% endif %}>{{
                            work_center.WC_CD }} {{ work_center.WC_NM }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-1 col-8">
                    <label for="item_cd" class="form-label">품목:</label>
                    <select class="form-control" id="item_cd" name="item_cd">
                        <option value="">-</option>
                        {% for item in items %}
                        <option value="{{ item.ITEM_CD }}" {% if item.ITEM_CD== ITEM_CD %}selected{% endif %}>{{
                            item.ITEM_CD }} {{ item.ITEM_NM }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-1 col-8">
                    <label for="start_date" class="form-label">계획일자:</label>
                    <div class="d-flex">
                        <input type="date" class="form-control me-2" id="start_date" name="start_date"
                               value="{{ PLANT_START_DT.strftime('%Y-%m-%d') if PLANT_START_DT else '' }}">
                        <span class="mx-2">~</span>
                        <input type="date" class="form-control ms-2" id="end_date" name="end_date"
                               value="{{ PLANT_COMPT_DT.strftime('%Y-%m-%d') if PLANT_COMPT_DT else '' }}">
                    </div>
                </div>
                <div class="mb-1 col-8">
                    <label for="prodt_order_no" class="form-label">제조오더번호:</label>
                    <input type="text" class="form-control" id="prodt_order_no" name="prodt_order_no"
                           value="{{ PRODT_ORDER_NO }}">
                </div>
                <div class="mb-1 d-flex align-items-end col-8">
                    <div class="flex-grow-1 me-2">
                        <label for="order_status" class="form-label">오더상태:</label>
                        <input type="text" class="form-control" id="order_status" name="order_status"
                               value="{{ order_status }}">
                    </div>
                    <button type="submit" class="btn btn-custom shadow-sm ms-3">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <div>
        {% if orders_with_items and orders_with_wcs %}
        <div class="card-body">
            <table class="table table-sm table-bordered table-hover"
                   style="text-align: center; border-collapse: collapse;" id="dataTable" width="100%" cellspacing="0">
                <thead class="table-success">
                <tr>
                    <th>제조오더번호</th>
                    <th>Seq</th>
                    <th>공장</th>
                    <th>작업공정</th>
                    <th>공정명</th>
                    <th>품목</th>
                    <th>품목명</th>
                    <th>품목규격</th>
                    <th>단위</th>
                    <th>계획지시일</th>
                    <th>계획수량</th>
                    <th>실적수량</th>
                    <th>불량수량</th>
                    <th>계획시작일자</th>
                    <th>계획완료일자</th>
                    <th>오더상태</th>
                </tr>
                </thead>

                <tbody>
                {% for (order_item, item), (order_wc, wc) in zip(orders_with_items, orders_with_wcs) %}
                <tr>
                    <td>{{ order_item.PRODT_ORDER_NO }}</td>
                    <td>{{ order_item.OPR_NO }}</td>
                    <td>{{ order_item.PLANT_CD }}</td>
                    <td>{{ order_item.WC_CD }}</td>
                    <td>{{ wc.WC_NM }}</td>
                    <td>{{ order_item.ITEM_CD }}</td>
                    <td>{{ item.ITEM_NM }}</td>
                    <td>{{ item.SPEC }}</td>
                    <td>{{ order_item.PRODT_ORDER_UNIT }}</td>
                    <td>{{ order_item.RELEASE_DT }}</td>
                    <td>{{ order_item.PRODT_ORDER_QTY }}</td>
                    <td>{{ order_item.PROD_QTY_IN_ORDER_UNIT }}</td>
                    <td>{{ order_item.BAD_QTY_IN_ORDER_UNIT }}</td>
                    <td>{{ order_item.PLANT_START_DT }}</td>
                    <td>{{ order_item.PLANT_COMPT_DT }}</td>
                    <td>{{ order_item.ORDER_STATUS }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>데이터 없음</p>
            {% endif %}
        </div>
    </div>
</div>
<script>
    var exampleModal = new bootstrap.Modal(document.getElementById('exampleModal'), {});
    exampleModal.show();
</script>
{% endblock %}
