{% extends "base.html" %}
{% block content %}

<style>
    .selected-row {
        background-color: #D6EAF8 !important;
    }

    .completed-order {
        background-color: #e0ffff !important;
    }

    th {
        background-color: #f8f9fa;
        box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.4);
        top: 0;
        z-index: 20;
    }

    .table-wrapper {
        overflow: auto;
        height: calc(100vh - 300px); /* 화면 높이에 따라 조절 */
        width: 100%;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        min-width: 50px;
        padding: 4px 8px; /* 패딩 값을 조정하여 간격을 줄임 */
    }

    /* 모달 테이블 패딩 조정 */
    #dataTable_modal th, #dataTable_modal td {
        padding: 0px 4px; /* 모달 테이블의 패딩을 더 줄임 */
    }

    .modal-input {
        width: 220px;
        height: 20px;
        font-size: 12px;
        border-style:hidden;
    }

    .modal-input2 {
        width: 100px;
        height: 20px;
        font-size: 12px;
        border-style:hidden;
    }

    .hidden {
        display: none;
    }

</style>

<div>
    <div style="display: flex; justify-content: space-between; align-items: center; padding: 0 15px;">
        <h7 class="m-0 font-weight-bold text-primary mb-3">생산관리 > Packing등록</h7>
        <div style="display: flex; gap: 10px; align-items: center;">
            <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" id="openModalButton"><i
                    class="bi bi-box-seam"></i>
                Packing 실적등록
            </button>
            <button type="submit" form="searchForm" class="btn btn-light btn-sm shadow-sm ms-3">
                <i class="bi bi-search"></i> 조회
            </button>
        </div>
    </div>

    <form method="POST" action="{{ url_for('product.product_register_packing') }}" class="px-4" id="searchForm">
        <input type="hidden" name="form_submitted" value="{{ form_submitted }}">
        <div class="row">
            <div class="col-md-3">
                <div class="mb-1 col-8 d-flex align-items-center">
                    <label for="plant_code" class="form-label me-3" style="min-width: 110px;">
                        &emsp;&emsp;&emsp;&emsp;공장
                    </label>
                    <select class="form-select form-select-sm" id="plant_code" name="plant_code" disabled>
                        <option value="">p710 인공신장기공장</option>
                        {% for plant in plants %}
                        <option value="{{ plant[0] }}" {% if plant[0]== PLANT_CD %}selected{% endif %}>
                            {{ plant[0] }} 인공신장기공장
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-1 col-8 d-flex align-items-center">
                    <label for="item_cd" class="form-label me-3" style="min-width: 110px;">
                        &emsp;&emsp;&emsp;&emsp;품목
                    </label>
                    <select class="form-select form-select-sm" id="item_cd" name="item_cd">
                        <option value="">-</option>
                        {% for item in items %}
                        <option value="{{ item.ITEM_CD }}" {% if item.ITEM_CD== ITEM_CD %}selected{% endif %}>
                            {{ item.ITEM_CD }} {{ item.ITEM_NM }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-1 col-8 d-flex align-items-center">
                    <label for="wc_cd" class="form-label me-3" style="min-width: 110px;">작업공정</label>
                    <select class="form-select form-select-sm" id="wc_cd" name="wc_cd" disabled>
                        <option value="WSF70" selected>WSF70</option>
                    </select>
                </div>
                <div class="mb-1 col-8 d-flex align-items-center">
                    <label for="prodt_order_no" class="form-label me-3" style="min-width: 110px;">제조오더번호</label>
                    <input type="text" class="form-control form-control-sm flex-grow-1" id="prodt_order_no"
                           name="prodt_order_no"
                           value="{{ PRODT_ORDER_NO }}">
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-1 col-8 d-flex align-items-center">
                    <label for="start_date" class="form-label me-3" style="min-width: 110px;">
                        &emsp;&emsp;계획일자
                    </label>
                    <div class="d-flex">
                        <input type="date" class="form-control form-control-sm me-2" id="start_date" name="start_date"
                               value="{{ PLANT_START_DT.strftime('%Y-%m-%d') }}">
                        <span class="mx-2">~</span>
                        <input type="date" class="form-control form-control-sm ms-2" id="end_date" name="end_date"
                               value="{{ PLANT_COMPT_DT.strftime('%Y-%m-%d') }}">
                    </div>
                </div>
                <div class="mb-1 col-8 d-flex align-items-center">
                    <label for="order_status" class="form-label me-3" style="min-width: 110px;">
                        &emsp;&emsp;오더상태
                    </label>
                    <div class="form-group">
                        <select class="form-select form-select-sm" id="order_status" name="order_status">

                            <option value="RL" {% if ORDER_STATUS==
                            'RL' %}selected{% endif %}>RL</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="gap" style="margin-top: 20px;"></div>

<div>
    <!--데이터 테이블-->
    <div>
        {% if orders_with_hdr %}
        <div class="table-wrapper">
            <table class="table table-sm table-hover"
                   style="text-align: center; border-collapse: collapse;" id="dataTable" width="100%" cellspacing="0">
                <thead class="table-light">
                <tr>
                    <th class="sticky"></th>
                    <th class="sticky" style="width: 100px;">제조오더번호</th>
                    <th class="sticky">작업공정</th>
                    <th class="sticky">품목</th>
                    <th class="sticky">품목명</th>
                    <th class="sticky">계획지시일</th>
                    <th class="sticky">계획수량</th>
                    <th class="sticky">실적수량</th>
                    <th class="sticky">Master Box no.</th>
                    <th class="sticky">오더상태</th>
                    <th class="sticky" style="width: 630px; font-weight: normal"></th>
                </tr>
                </thead>

                <tbody>
                {% for order in orders_with_hdr %}
                <tr data-order-no="{{ order.prodt_order_no }}"
                    class="{% if order.order_status == 'CL' %}completed-order{% endif %}">
                    <td>{{ loop.index }}</td>
                    <td>{{ order.prodt_order_no }}</td>
                    <td>WSF70</td>
                    <td>CHF70-120LR</td>
                    <td>Packing</td>
                    <td>{{ order.plant_start_dt.strftime('%Y-%m-%d') if order.plant_start_dt else '' }}</td>
                    <td>{{ order.prodt_order_qty | int }}</td>
                    <td>0</td> <!-- 실적수량 -->
                    <td>{{ order.m_box_no or '' }}</td> <!-- Master Box no. -->
                    <td>{{ order.order_status }}</td>
                    <td></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        {% if form_submitted %}
        <script>
            alert("데이터 없음");
        </script>
        {% endif %}
        {% endif %}
    </div>
</div>

<!-- Packing 실적등록 모달 -->
<div class="modal fade" id="packingModal" tabindex="-1" role="dialog" aria-labelledby="packingModalLabel"
     aria-hidden="true" data-bs-backdrop="static" data-bs-target="#staticBackdrop">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="packingModalLabel">Packing 실적등록</h5>
            </div>


            <div class="modal-body">
                <!-- 모달 바디 내용 추가 -->
                <form id="packingForm" class="px-5">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3 col-10">
                                <label for="packing_order_no">제조오더번호</label>
                                <input type="text" class="form-control" id="packing_order_no" disabled>
                            </div>
                            <div class="mb-3 col-10">
                                <label for="barcode_scan3">Packing 제조일자</label>
                                <input type="text" class="form-control" id="barcode_scan3"
                                        disabled>
                            </div>
                            <div class="mb-3 col-10">
                                <label for="barcode_scan4">Master Box No.</label>
                                <input type="text" class="form-control" id="barcode_scan4"
                                        disabled>
                            </div>
                            <div class="mb-3 col-10">
                                <label for="barcode_scan5">Lot No.</label>
                                <input type="text" class="form-control" id="barcode_scan5"
                                        disabled>
                            </div>
                            <div class="mb-3 col-10">
                                <label for="barcode_scan8">Serial No.</label>
                                <input type="text" class="form-control" id="barcode_scan8"
                                        disabled>
                            </div>
                            <div class="mb-3 col-10">
                                <label for="barcode_scan6">수량</label>
                                <input type="text" class="form-control" id="barcode_scan6"
                                        disabled>
                            </div>

                            <div class="mb-3 col-10">
                                <label for="barcode_scan7">유효기간</label>
                                <input type="text" class="form-control" id="barcode_scan7"
                                        disabled>
                            </div>

                            <div class="mb-1 col-10 text-center">
                                <h1><i class="bi bi-qr-code"></i></h1>

                            </div>
                        </div>
                        <div class="col">
                            <table class="table table-sm table-hover ms-auto"
                                   style="text-align: center; border-collapse: collapse;" id="dataTable_modal"
                                   width="100%"
                                   cellspacing="0">
                                <thead class="table-light table-sm">
                                <tr>
                                    <th></th>
                                    <th>UDI QR</th>
                                    <th>Barcode</th>
                                    <th>검사결과</th>
                                </tr>
                                </thead>

                                <tbody id="modalTableBody">


                                </tbody>
                            </table>
                        </div>

                    </div>


                    <!-- 필요한 다른 필드들 추가 -->
                </form>
                <br>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" data-dismiss="modal"
                        id="closeModalButton">닫기
                </button>
                <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" id="saveChangesButton">
                    <i class="bi bi-printer"></i> 등록 및 label 인쇄
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 실패 메시지 모달 -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 400px; left: 10%; position: absolute;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel"> <i class="bi bi-exclamation-octagon-fill"></i> Error</h5>
            </div>
            <div class="modal-body">
                문제가 발생했습니다.<br>
                바코드 스캔 데이터를 초기화합니다.<br>
                <span style="color: red; font-weight: bold;">문제 발생 데이터 번호: <span id="errorRowNumber"></span></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" data-bs-dismiss="modal" id="closeErrorModalButton">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- 성공 메시지 모달 -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel"><i class="bi bi-check-circle-fill"></i> Success</h5>
            </div>
            <div class="modal-body">
                데이터가 성공적으로 저장되었습니다.<br>
                라벨을 인쇄하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" data-bs-dismiss="modal" id="closeSuccessModalButton">닫기</button>
                <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" id="printLabelButton"><i class="bi bi-printer"></i> Label 인쇄</button>
            </div>
        </div>
    </div>
</div>



<script>
    var selectedOrderNo = '';

    document.getElementById('closeModalButton').addEventListener('click', function() {
        $('#packingModal').modal('hide');
    });

    document.getElementById('closeErrorModalButton').addEventListener('click', function() {
        clearInputs();
    });

    document.querySelectorAll('#dataTable tbody tr').forEach(row => {
        row.addEventListener('click', function() {
            document.querySelectorAll('#dataTable tbody tr').forEach(row => {
                row.classList.remove('selected-row');
            });
            this.classList.add('selected-row');
            selectedOrderNo = this.getAttribute('data-order-no');
        });
    });

    document.getElementById('openModalButton').addEventListener('click', function() {
        if (selectedOrderNo) {
            document.getElementById('packing_order_no').value = selectedOrderNo;
            $('#packingModal').modal('show');

            setTimeout(function() {
                document.querySelector('#modalTableBody input').focus();
            }, 500);
        } else {
            alert('등록할 제조오더를 선택해주세요.');
        }
    });

    document.getElementById('saveChangesButton').addEventListener('click', function() {
        savePackingData();
    });

    window.onload = function() {
        var today = new Date();
        var day = today.getDate();
        var month = today.getMonth() + 1;
        var year = today.getFullYear();
        var tableBody = document.getElementById('modalTableBody');
        var rows = 24;

        if (day < 10) day = '0' + day;
        if (month < 10) month = '0' + month;
        var todayString = year + '-' + month + '-' + day;

        document.getElementById('barcode_scan3').value = todayString;

        for (var i = 1; i <= rows; i++) {
            var row = document.createElement('tr');
            var cell = document.createElement('td');
            cell.textContent = i;
            cell.className =
            row.appendChild(cell);


            var barcodeCell = document.createElement('td');
            var barcodeInput = document.createElement('input');
            barcodeInput.type = 'text';
            barcodeInput.className = 'modal-input';
            barcodeInput.id = 'barcode-di-' + i;
            barcodeCell.appendChild(barcodeInput);
            row.appendChild(barcodeCell);

            var udiCell = document.createElement('td');
            var udiInput = document.createElement('input');
            udiInput.type = 'text';
            udiInput.className = 'modal-input2';
            udiInput.id = 'udi-qr-' + i;
            udiCell.appendChild(udiInput);
            row.appendChild(udiCell);

            var resultCell = document.createElement('td');
            var resultInput = document.createElement('input');
            resultInput.type = 'text';
            resultInput.className = 'modal-input2';
            resultCell.className = 'modal-width';
            resultInput.id = 'result-packing-' + i;
            resultInput.readOnly = true;
            resultCell.appendChild(resultInput);
            row.appendChild(resultCell);

            tableBody.appendChild(row);

            barcodeInput.addEventListener('keyup', handleBarcodeInput);
            udiInput.addEventListener('keyup', handleUdiInput);
        }
    };

    function handleUdiInput(event) {
        if (event.target.value.length === 11) {
            var barcode = event.target.value;
            var row = event.target.parentNode.parentNode;
            var resultInput = row.querySelector('input[id^="result-packing-"]');
            var rowIndex = row.rowIndex;
            checkBarcode(barcode, resultInput, rowIndex);
            moveToNextInput(event);
        }
    }

    function handleBarcodeInput(event) {
        if (event.target.value.length === 31) {
            moveToNextInput(event);
        }
    }

    function checkBarcode(barcode, resultInput, rowIndex) {
        fetch('/product/check_barcode/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ barcode: barcode })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                resultInput.value = 'PASS';

            } else {
                resultInput.value = 'FAIL';
                showErrorModal(rowIndex);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            showErrorModal(rowIndex);
        });
    }

    function showErrorModal(rowIndex) {
        document.getElementById('errorRowNumber').textContent = rowIndex;
        $('#errorModal').modal('show');
    }

    function moveToNextInput(event) {
        var inputs = document.querySelectorAll('#modalTableBody input');
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i] === event.target) {
                var nextInput = findNextInput(i, inputs);
                if (nextInput) {
                    nextInput.focus();
                    nextInput.dispatchEvent(new KeyboardEvent('keyup', {'keyCode': 13}));
                }
                break;
            }
        }
    }

    function findNextInput(currentIndex, inputs) {
        for (var i = currentIndex + 1; i < inputs.length; i++) {
            if (!inputs[i].readOnly) {
                return inputs[i];
            }
        }
        return null;
    }

    function clearInputs() {
        var inputs = document.querySelectorAll('#modalTableBody input');
        inputs.forEach(input => {
            input.value = '';
        });
        $('#errorModal').modal('hide');
        document.querySelector('#modalTableBody input').focus();
    }

    function savePackingData() {
        var packingOrderNo = document.getElementById('packing_order_no').value;
        var packingDate = document.getElementById('barcode_scan3').value;
        var tableBody = document.getElementById('modalTableBody');
        var rows = tableBody.getElementsByTagName('tr');

        var lotNo = 10001;
        var serialNoBase = packingDate.replace(/-/g, '') + '001';
        var quantity = rows.length;
        var expiryDate = new Date(packingDate);
        expiryDate.setFullYear(expiryDate.getFullYear() + 3);
        expiryDate = expiryDate.toISOString().split('T')[0];

        var packingData = {
            prodt_order_no: packingOrderNo,
            lot_no: lotNo,
            serial_no: serialNoBase,
            quantity: quantity,
            expiry_date: expiryDate,
            rows: []
        };

        for (var i = 0; i < rows.length; i++) {
            var udiQr = rows[i].querySelector('input[id^="udi-qr-"]').value;
            var barcode = rows[i].querySelector('input[id^="barcode-di-"]').value;
            packingData.rows.push({
                udi_qr: udiQr,
                barcode: barcode
            });
        }

        fetch('/product/get_next_master_box_no/', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                packingData.master_box_no = data.next_master_box_no;

                fetch('/product/save_packing_data/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(packingData)
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert('데이터가 성공적으로 저장되었습니다.');

                        document.getElementById('barcode_scan4').value = packingData.master_box_no;
                        document.getElementById('barcode_scan5').value = packingData.lot_no;
                        document.getElementById('barcode_scan8').value = packingData.serial_no;
                        document.getElementById('barcode_scan6').value = packingData.quantity;
                        document.getElementById('barcode_scan7').value = packingData.expiry_date;

                        $('#successModal').modal('show');

                    } else {
                        alert('데이터 저장 중 오류가 발생했습니다.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('데이터 저장 중 오류가 발생했습니다.');
                });
            } else {
                alert('마스터 박스 번호 생성 중 오류가 발생했습니다.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('마스터 박스 번호 생성 중 오류가 발생했습니다.');
        });
    }

     document.getElementById('printLabelButton').addEventListener('click', function() {
        var packingOrderNo = document.getElementById('packing_order_no').value;
        var masterBoxNo = document.getElementById('barcode_scan4').value;
        var lotNo = document.getElementById('barcode_scan5').value;
        var serialNo = document.getElementById('barcode_scan8').value;
        var quantity = document.getElementById('barcode_scan6').value;
        var expiryDate = document.getElementById('barcode_scan7').value;

        var printData = {
            packing_order_no: packingOrderNo,
            master_box_no: masterBoxNo,
            lot_no: lotNo,
            serial_no: serialNo,
            quantity: quantity,
            expiry_date: expiryDate
        };

        fetch('/product/print_label/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(printData)
        })
        .then(response => response.text())
        .then(data => {
            alert(data);
            $('#successModal').modal('hide');
        })
        .catch(error => {
            console.error('Error:', error);
            alert('라벨 인쇄 중 오류가 발생했습니다.');
        });
    });
</script>



{% endblock %}
