{% extends "base.html" %}
{% block content %}

<style>
    .selected-row {
        background-color: #D6EAF8 !important;
    }

    .completed-order {
        background-color: #e0ffff !important;
    }
</style>

<div>
    <div style="display: flex; justify-content: space-between; align-items: center; padding: 0 15px;">
        <h7 class="m-0 font-weight-bold text-primary mb-3">생산관리 > 제조오더조회</h7>
        <div style="display: flex; gap: 10px; align-items: center;">
            <button type="button" class="btn btn-light btn-sm shadow-sm ms-3" data-toggle="modal"
                    data-target=".bd-example-modal-lg" id="openModalButton"><i class="bi bi-receipt"></i>
                하위반제품 조회
            </button>
            <button type="submit" form="searchForm" class="btn btn-light btn-sm shadow-sm ms-3">
                <i class="bi bi-search"></i> 조회
            </button>
        </div>
        <!--모달-->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">하위반제품 조회</h5>

                    </div>
                    <div class="modal-body">
                        <form id="productForm" method="POST" action="{{ url_for('product.product_order') }}"
                              class="px-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-1 col-8">
                                        <label for="plant_code2" class="form-label">공장:</label>
                                        <select class="form-control" id="plant_code2" name="plant_code">
                                            <option value="">All</option>
                                            {% for plant in plants %}
                                            <option value="{{ plant.PLANT_CD }}" {% if plant.PLANT_CD== PLANT_CD
                                                    %}selected{% endif %}>
                                                {{ plant.PLANT_CD }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-1 col-14">
                                        <label for="modal_order_no" class="form-label">제조오더번호:</label>
                                        <input type="text" class="form-control" id="modal_order_no"
                                               name="modal_order_no">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-1 col-14">
                                        <label for="modal_item_cd" class="form-label">상위품목:</label>
                                        <input type="text" class="form-control" id="modal_item_cd"
                                               name="modal_item_cd">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br>

                        <table class="table table-sm table-bordered table-hover"
                               style="text-align: center; border-collapse: collapse;" id="dataTable_modal" width="100%"
                               cellspacing="0">
                            <thead class="table-light">
                            <tr>
                                <th>품목</th>
                                <th>품목명</th>
                                <th>품목규격</th>
                                <th>단위</th>
                                <th>소요량 </th>
                            </tr>
                            </thead>

                            <tbody id="modalTableBody">
                            <!-- 하위 반제품 정보가 여기에 표시됩니다 -->
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" form="productForm" class="btn btn-light shadow-sm ms-3"
                                id="searchButton"><i class="bi bi-search"></i> 조회
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--데이터 테이블-->
    <form method="POST" action="{{ url_for('product.product_order') }}" class="px-4" id="searchForm">
        <div class="row">
            <div class="col-md-3">
                <div class="mb-1 col-8 d-flex align-items-center">
                    <label for="plant_code" class="form-label me-3" style="min-width: 110px;">
                        &emsp;&emsp;&emsp;&emsp;공장
                    </label>
                    <select class="form-select form-select-sm" id="plant_code" name="plant_code">
                        <option value="">All</option>
                        {% for plant in plants %}
                        <option value="{{ plant.PLANT_CD }}" {% if plant.PLANT_CD== PLANT_CD %}selected{% endif %}>
                            {{ plant.PLANT_CD }} {{ plant.PLANT_NM }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-1 col-8 d-flex align-items-center">
                    <label for="item_cd" class="form-label me-3" style="min-width: 110px;">
                        &emsp;&emsp;&emsp;&emsp;품목
                    </label>
                    <select class="form-select form-select-sm" id="item_cd" name="item_cd">
                        <option value="">All</option>
                        {% for item in items %}
                        <option value="{{ item.ITEM_CD }}" {% if item.ITEM_CD== ITEM_CD %}selected{% endif %}>
                            {{ item.ITEM_CD }} {{ item.ITEM_NM }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mb-1 col-8 d-flex align-items-center">
                    <label for="wc_cd" class="form-label me-3" style="min-width: 110px;">작업공정</label>
                    <select class="form-select form-select-sm" id="wc_cd" name="wc_cd">
                        <option value="">All</option>
                        {% for work_center in work_centers %}
                        <option value="{{ work_center.WC_CD }}" {% if work_center.WC_CD== WC_CD %}selected{% endif %}>
                            {{ work_center.WC_CD }} {{ work_center.WC_NM }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-1 col-8 d-flex align-items-center">
                    <label for="prodt_order_no" class="form-label me-3" style="min-width: 110px;">제조오더번호</label>
                    <input type="text" class="form-control form-control-sm flex-grow-1" id="prodt_order_no"
                           name="prodt_order_no"
                           value="{{ PRODT_ORDER_NO }}">
                </div>


            </div>
            <div class="col-md-3">
                <div class="mb-1 col-8 d-flex align-items-center">
                    <label for="start_date" class="form-label me-3" style="min-width: 110px;">
                        &emsp;&emsp;계획일자
                    </label>
                    <div class="d-flex">
                        <input type="date" class="form-control form-control-sm me-2" id="start_date" name="start_date"
                               value="{{ PLANT_START_DT.strftime('%Y-%m-%d') if PLANT_START_DT else '' }}">
                        <span class="mx-2">~</span>
                        <input type="date" class="form-control form-control-sm ms-2" id="end_date" name="end_date"
                               value="{{ PLANT_COMPT_DT.strftime('%Y-%m-%d') if PLANT_COMPT_DT else '' }}">
                    </div>
                </div>
                <div class="mb-1 col-8 d-flex align-items-center">
                    <label for="order_status" class="form-label me-3" style="min-width: 110px;">
                        &emsp;&emsp;오더상태
                    </label>
                    <input type="text" class="form-control form-control-sm flex-grow-1" id="order_status"
                           name="order_status"
                           value="{{ order_status }}">
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <div>
        {% if orders_with_items and orders_with_wcs %}
        <div class="card-body">
            <table class="table table-sm table-bordered table-hover"
                   style="text-align: center; border-collapse: collapse;" id="dataTable" width="100%" cellspacing="0">
                <thead class="table-light">
                <tr>
                    <th></th>
                    <th style="font-weight: normal;">제조오더번호</th>
                    <th style="font-weight: normal;">Seq</th>
                    <th style="font-weight: normal;">공장</th>
                    <th style="font-weight: normal;">작업공정</th>
                    <th style="font-weight: normal;">공정명</th>
                    <th style="font-weight: normal;">품목</th>
                    <th style="font-weight: normal;">품목명</th>
                    <th style="font-weight: normal;">품목규격</th>
                    <th style="font-weight: normal;">단위</th>
                    <th style="font-weight: normal;">계획지시일</th>
                    <th style="font-weight: normal;">계획수량</th>
                    <th style="font-weight: normal;">실적수량</th>
                    <th style="font-weight: normal;">불량수량</th>
                    <th style="font-weight: normal;">계획시작일자</th>
                    <th style="font-weight: normal;">계획완료일자</th>
                    <th style="font-weight: normal;">오더상태</th>
                </tr>
                </thead>

                <tbody>
                {% for (order_item, item), (order_wc, wc) in zip(orders_with_items, orders_with_wcs) %}
                <tr data-order-no="{{ order_item.PRODT_ORDER_NO }}" data-item-cd="{{ order_item.ITEM_CD }}"
                    class="{% if order_item.ORDER_STATUS == 'CL' %}completed-order{% endif %}">
                    <td>{{ loop.index }}</td>
                    <td>{{ order_item.PRODT_ORDER_NO }}</td>
                    <td>{{ order_item.OPR_NO }}</td>
                    <td>{{ order_item.PLANT_CD }}</td>
                    <td>{{ order_item.WC_CD }}</td>
                    <td style="text-align: left;">{{ wc.WC_NM }}</td>
                    <td>{{ order_item.ITEM_CD }}</td>
                    <td style="text-align: left;">{{ item.ITEM_NM }}</td>
                    <td>{{ item.SPEC }}</td>
                    <td>{{ order_item.PRODT_ORDER_UNIT }}</td>
                    <td>{{ order_item.RELEASE_DT.strftime('%Y-%m-%d') }}</td>
                    <td style="text-align: right;">{{ order_item.PRODT_ORDER_QTY | int }}</td>
                    <td style="text-align: right;">{{ order_item.PROD_QTY_IN_ORDER_UNIT | int }}</td>
                    <td style="text-align: right;">{{ order_item.BAD_QTY_IN_ORDER_UNIT | int }}</td>
                    <td>{{ order_item.PLANT_START_DT.strftime('%Y-%m-%d') }}</td>
                    <td>{{ order_item.PLANT_COMPT_DT.strftime('%Y-%m-%d') }}</td>
                    <td>{{ order_item.ORDER_STATUS }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>데이터 없음</p>
        {% endif %}
    </div>
</div>

<script>
    var selectedOrderNo = '';
    var selectedItemCd = '';

    document.querySelectorAll('#dataTable tbody tr').forEach(row => {
        row.addEventListener('click', function() {
            // 모든 행에서 selected-row 클래스 제거
            document.querySelectorAll('#dataTable tbody tr').forEach(row => {
                row.classList.remove('selected-row');
            });

            // 클릭된 행에 selected-row 클래스 추가
            this.classList.add('selected-row');

            // 선택된 제조오더 번호와 품목 코드 저장
            selectedOrderNo = this.getAttribute('data-order-no');
            selectedItemCd = this.getAttribute('data-item-cd');
        });
    });

    document.getElementById('openModalButton').addEventListener('click', function() {
        if (selectedOrderNo && selectedItemCd) {
            document.getElementById('modal_order_no').value = selectedOrderNo;
            document.getElementById('modal_item_cd').value = selectedItemCd;
            fetchModalData(selectedOrderNo, selectedItemCd);
        } else {
            alert('먼저 제조오더를 선택하세요.');
        }
    });

    function fetchModalData(orderNo, itemCd) {
        fetch(`/product/get_bom_data?order_no=${orderNo}&item_cd=${itemCd}`)
            .then(response => response.json())
            .then(data => {
                const tbody = document.getElementById('modalTableBody');
                tbody.innerHTML = '';
                data.forEach(row => {
                    const tr = document.createElement('tr');
                    tr.innerHTML = `
                        <td>${row.child_item_cd}</td>
                        <td>${row.child_item_nm}</td>
                        <td>${row.spec}</td>
                        <td>${row.child_item_unit}</td>
                        <td>${row.child_item_qty}</td>
                    `;
                    tbody.appendChild(tr);
                });
            })
            .catch(error => console.error('Error fetching BOM data:', error));
    }
</script>
{% endblock %}
