{% extends "base.html" %}

{% block title %}Tree View{% endblock %}

{% block content %}
<h1>BOM Information</h1>

<div id="tree">
    <ul class="tree">
        <!-- 루트 노드부터 시작 -->
        {% for child in tree_data['root'] %}
            {{ loop(child.id) }}
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% macro loop(node_id) %}
    {% set children = tree_data.get(node_id, []) %}
    <li>
        <span>{{ children[0].text }}</span>
        {% if children %}
            <ul>
                {% for child in children %}
                    {{ loop(child.id) }}
                {% endfor %}
            </ul>
        {% else %}
            <ul><li>No children available for {{ node_id }}</li></ul>
        {% endif %}
    </li>
{% endmacro %}
