<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- pybo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Other head elements -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">


    <title>Synopex Dialyze MES</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">


    <style>
        .navbar-custom {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0; /* optional: just in case you want a little more space */
        }

            .table-wrapper::-webkit-scrollbar {
            width: 8px;
            height: 10px;
        }

        .table-wrapper::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        .table-wrapper::-webkit-scrollbar-thumb {
            background: #bdbdbd;
            border-radius: 10px;
        }

        .table-wrapper::-webkit-scrollbar-thumb:hover {
            background: #d4f4fa;
        }

        .tree{
          margin-top: 5px;
        }
    .tree, .tree ul{
          list-style: none; /* 기본 리스트 스타일 제거 */
          padding-left:10px;
        }
    .tree *:before{
          width:15px;
          height:15px;
          display:inline-block;
        }
    .tree label{
      cursor: pointer;
      font-family: NotoSansKrMedium, sans-serif !important;
      font-size: 14px;
      color: #0055CC;
    }
    .tree label:hover{
      color: #00AACC;
    }
    .tree label:before{
      content: '+'
    }
    .tree label.lastTree:before{
      content:'o';
    }
    .tree label:hover:before{
      content: '+'
    }
    .tree label.lastTree:hover:before{
      content:'o';
    }
    .tree input[type="checkbox"] {
      display: none;
    }
    .tree input[type="checkbox"]:checked~ul {
      display: none;
    }
    .tree input[type="checkbox"]:checked+label:before{
      content: '-'
    }
    .tree input[type="checkbox"]:checked+label:hover:before{
      content: '-'
    }

    .tree input[type="checkbox"]:checked+label.lastTree:before{
      content: 'o';
    }
    .tree input[type="checkbox"]:checked+label.lastTree:hover:before{
      content: 'o';
    }

    </style>
</head>

<body id="page-top">

<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">

        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-custom">
            <div class="container-fluid">
                <a href="{{ url_for('main.index') }}" class="custom-nav-link">
                    <img src="{{ url_for('static', filename='img/logo_one.png') }} "></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <div class="nav-link active font-weight-bold" aria-current="page"
                                 style="font-weight: bold; color: #4e73df;">
                                DIALYZE MES
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex">
                    {% if g.user %}
                        {% if g.user_has_mesauth %}
                            <a href="{{ url_for('auth.user_manage') }}" class="mx-2"
                               style="text-decoration-line: none; color: black; font-weight: bold;">
                                사용자관리
                            </a>
                        {% endif %}


                    <!-- 사용자 이름과 드롭다운 트리거 설정 -->
                    <div class="dropdown">
                        <a style="font-weight: bold; color: #4e73df;" id="navbarDropdown71" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ g.user.USR_NM }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown71">
                            <a class="dropdown-item" href="{{ url_for('auth.modify') }}">비밀번호변경</a>
                            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">로그아웃</a>
                        </div>
                    </div>
                    님 환영합니다.
                    {% endif %}
                    {% if not g.user %}

                    {% endif %}
                </div>
            </div>
        </nav>

        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand topbar mb-2 static-top shadow navbar-custom"
                 style="background-color: #192B5B;">
                <!-- Topbar Navbar -->
                {% if g.user %}
                <ul class="navbar-nav mr-auto font-weight-bold">
                    <li class="nav-item dropdown no-arrow mx-2">
                        <a class="nav-link" href="#" id="navbarDropdownProduction" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"
                           style="color: white; font-weight: bold; font-size: 1.16rem;">
                            생산관리
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownProduction">
                            <a class="dropdown-item" href="{{ url_for('product.product_order') }}">제조오더조회</a>
                            <a class="dropdown-item" href="{{ url_for('product.product_register') }}">제조실적등록</a>
                            <a class="dropdown-item"
                               href="{{ url_for('product.product_register_packing') }}">Packing등록</a>
                            <a class="dropdown-item" href="{{ url_for('product.product_register_result') }}">제조실적조회</a>
                            <a class="dropdown-item" href="{{ url_for('product.product_register_sterilizating') }}">외주발주조회</a>
                            <a class="dropdown-item" href="{{ url_for('product.product_register_sterilizating_result') }}">외주실적등록</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-2">
                        <a class="nav-link" href="#" id="navbarDropdownSales" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"
                           style="color: white; font-weight: bold; font-size: 1.16rem;">
                            영업관리
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownSales">
                            <a class="dropdown-item" href="{{ url_for('sales.sales_order') }}">수주정보조회</a>
                            <a class="dropdown-item" href="{{ url_for('sales.supply_details') }}">공급내역등록</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown no-arrow mx-2">
                        <a class="nav-link" href="#" id="navbarDropdownInventory" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"
                           style="color: white; font-weight: bold; font-size: 1.16rem;">
                            재고관리
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownInventory">
                            <a class="dropdown-item" href="{{ url_for('inventory.inventory') }}">재고조회</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-2">
                        <a class="nav-link" href="#" id="navbarDropdownMasterData" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"
                           style="color: white; font-weight: bold; font-size: 1.16rem;">
                            기준정보
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMasterData">
                            <a class="dropdown-item" href="{{ url_for('masterdata.item') }}">품목정보조회</a>
                            <a class="dropdown-item" href="{{ url_for('masterdata.bom') }}">BOM정보조회</a>
                            <a class="dropdown-item" href="{{ url_for('masterdata.vendor') }}">거래처정보조회</a>

                        </div>
                    </li>
                </ul>
                {% endif %}

                <ul class="navbar-nav ml-auto">
                    {% if g.user %}
                    <li class="nav-item dropdown no-arrow mx-1">
                        {% if session['roles_id'] == 3 %}
                        {% endif %}
                    </li>
                    {% else %}
                    <li class="nav-item dropdown no-arrow mx-2">
                        <div class="nav-link" style="color: #212529;">
                            로그인을 해주세요.
                        </div>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown no-arrow"></li>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
            <!-- /.container-fluid -->

            <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 400px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="errorModalLabel"><i class="bi bi-exclamation-octagon-fill"></i>
                                Error</h5>
                        </div>
                        <div class="modal-body" id="errorModalBody">
                            <!-- 에러 메시지가 여기 들어감 -->
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Complete Modal -->
            <div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="completeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 400px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="completeModalLabel"><i class="bi bi-check-circle-fill"></i>
                                Success</h5>
                        </div>
                        <div class="modal-body" id="completeModalBody">
                            <!-- 완료 메시지가 여기 들어감 -->
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of Main Content -->
    </div>
</div>
</body>

{% block script %}
<script type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
{% endblock %}
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>




<!-- 메뉴 자체를 눌러도 해당 최상위 메뉴로 이동시키기 위한 script -->
<!--<script>-->
<!--    document.getElementById('navbarDropdown7').addEventListener('click', function() {-->
<!--        window.location.href = "{{ url_for('auth.user_manage') }}"; // 원하는 URL로 변경-->
<!--    });-->
<!--    document.getElementById('navbarDropdown3').addEventListener('click', function() {-->
<!--        window.location.href = "{{ url_for('basic.basic_product') }}"; // 원하는 URL로 변경-->
<!--    });-->
<!--    document.getElementById('navbarDropdown4').addEventListener('click', function() {-->
<!--        window.location.href = "{{ url_for('product.product_order') }}"; // 원하는 URL로 변경-->
<!--    });-->
<!--    document.getElementById('navbarDropdown5').addEventListener('click', function() {-->
<!--        window.location.href = "{{ url_for('delivery.delivery_select') }}"; // 원하는 URL로 변경-->
<!--    });-->



<!--</script>-->



</html>